<template>
    <div class="py-3">

        <h2>Создание пользователя</h2>

        <b-form @submit.prevent="onSubmit" class="pb-3" id="create_user">

            <div class="row mt-2">
                <div class="col-6">
                    <label for="name" class="my-2 mt-3 required">Имя</label>
                    <b-form-input required id="name" name="name"
                                  placeholder="Введите имя пользователя..."></b-form-input>
                </div>
                <div class="col-6">
                    <label for="email" class="my-2 mt-3 required">E-mail</label>
                    <b-form-input
                            required
                            id="email"
                            name="email"
                            type="email"
                            placeholder="Введите email...">
                    </b-form-input>
                </div>
                <div class="col-6">
                    <div>
                        <label for="phone" class="my-2 mt-3 required">Телефон (10-12)</label>
                        <b-form-input
                                required
                                id="phone"
                                name="phone"
                                type="number"
                                min="0"
                                placeholder="Введите телефон...">
                        </b-form-input>
                    </div>
                </div>
                <div class="col-6">
                    <label for="address" class="my-2 mt-3 required">Адресс</label>
                    <b-form-input
                            required
                            id="address"
                            name="address"
                            type="text"
                            placeholder="Введите адресс...">
                    </b-form-input>
                </div>
                <div class="col-6">
                    <label for="date_of_birth" class="my-2 mt-3 required">Дата рождения</label>
                    <b-form-input
                            required
                            id="date_of_birth"
                            name="date_of_birth"
                            type="date">
                    </b-form-input>
                </div>
                <div class="col-6">
                    <label for="gender" class="my-2 mt-3 required">Пол</label>
                    <b-form-select
                            required
                            id="gender"
                            name="gender"
                            :options="gender_options">
                    </b-form-select>
                </div>
                <div class="col-6">
                    <label for="role" class="my-2 mt-3 required">Роль</label>
                    <b-form-select
                            required
                            id="role"
                            name="role"
                            :options="role_options">
                    </b-form-select>
                </div>
                <div class="col-6">
                    <label for="password" class="required my-2 mt-3">Пароль</label>
                    <b-form-input
                            required
                            id="password"
                            name="password"
                            v-model="password"
                            type="password"
                            placeholder="Введите пароль...">
                    </b-form-input>

                    <b-alert show variant="warning my-2">Длина пароля должна быть минимум 6 символов</b-alert>
                </div>
            </div>

            <div>
                <label class="my-2 mt-3">Фотография</label>
                <b-form-file
                        no-drop
                        name="picture"
                        @change="loadImage"
                        accept="image/*"
                        placeholder="Выберите файл..."
                        data-browse="Добавить"
                ></b-form-file>
                <div class="text-center">
                    <img :src="imageSrc" class="img-fluid preview__image my-3">
                </div>
            </div>

            <div class="mt-3 text-center">
                <b-button type="submit" variant="success">Сохранить</b-button>
            </div>

        </b-form>

        <LoaderFixed v-if="loadingFixed"/>

    </div>
</template>

<script>
    import FileReader from '~/mixins/FileReader';
    import getFormData from "~/js/getFormData";
    import Toast from "~/mixins/Toast";
    import ImageValidate from "~/mixins/image_upload_validate";
    import ErrorProcessing from "~/mixins/errorProcessing";

    export default {
        name: "UsersCreate",

        mixins: [
            FileReader,
            Toast,
            ImageValidate,
            ErrorProcessing
        ],

        data() {
            return {
                loadingFixed: false,
                user: '',
                imageSrc: '',
                gender_options: [
                    {text: 'Мужчина', value: 'Мужчина'},
                    {text: 'Женщина', value: 'Женщина'},
                ],
                role_options: [
                    {text: 'Администратор', value: 'admin'},
                    {text: 'Пользователь', value: 'user'},
                ],
                password: ''
            }
        },

        methods: {
            async onSubmit() {
                this.loadingFixed = true;

                if (this.loadedFile && !this.isValidImageSize(this.loadedFile)) {
                    this.loadingFixed = false;
                    return;
                }

                const pass = this.password;

                if (pass && pass.length < 6) {
                    this.callToast('danger', 'Внимание', 'Длина пароля должна быть минимум 6 символов');
                } else {
                    const data = getFormData('create_user');

                    const res = await this.$store.dispatch('createUser', data);

                    if (res.request.status === 200) {
                        this.callToast('success', `Успешно!`, 'Изменения сохранены!');
                        setTimeout(() => this.$router.push({name: 'users'}), 1500);
                    } else {
                        this.errorProcessing(res.request.status);
                    }
                }

                this.loadingFixed = false;

            },
            loadImage(e) {
                this.loadedFile = e.target.files[0];
                this.imageSrc = this.readFileMultiple(this.loadedFile);
            },
        }
    }
</script>

<style scoped>

</style>
