<template>
    <div class="pt-3">
        <h2>Пользователи</h2>

        <div class="d-flex align-items-center justify-content-between mb-2">
            <router-link class="btn btn-dark btn__add" :class="loading ? 'disabled' : ''" to="/admin/users/create">
                Добавить пользователя
                <span class="btn-add__icon"></span>
            </router-link>

            <div>
                <b-form-input @keyup="searchUsers"
                              v-model="searchUserValue"
                              id="user_search_field"
                              placeholder="Поиск пользователя"
                              v-b-popover.hover.top="'Введите e-mail, имя или телефон'">
                </b-form-input>
            </div>
        </div>

        <Loader v-if="loading"/>
        <div v-else class="posts">
            <div class="table-responsive">
                <table class="table table-hover table-animate">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Телефон</th>
                        <th scope="col">E-mail</th>
                        <th scope="col" class="text-center">Редактировать</th>
                        <th scope="col" class="text-center">Удалить</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr v-if="!users.length">
                        <td class="is-empty" colspan="6">Список пользователей пуст!</td>
                    </tr>
                    <tr v-else v-for="(item, key) in users">
                        <th>{{ from + key }}</th>
                        <td>
                            <div class="table__text-headline table__text--2 table__text--nowrap">
                                {{ item.name }}
                            </div>
                        </td>
                        <td class="text-nowrap">
                            {{item.phone ? item.phone : 'не указано'}}
                        </td>
                        <td>
                            {{item.email ? item.email : 'не указано'}}
                        </td>
                        <td>
                            <router-link :to="`${currentRoute}/edit/${item.id}`"
                                         class="btn-action btn-edit"></router-link>
                        </td>
                        <td>
                            <button
                                    v-if="item.role !== 'admin'"
                                    type="button"
                                    :data-id="item.id"
                                    class="btn-action btn-delete"
                                    @click="setDeletedUser"
                                    v-b-modal.delete_user
                            ></button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <Paginate
                        v-model="current_page"
                        :page-count="last_page"
                        :click-handler="pageChange"
                        :prev-text="''"
                        :next-text="''"
                        :container-class="'pagination'"
                        :page-class="'pagination__page'"
                        :prev-class="'pagination__page-prev'"
                        :next-class="'pagination__page-next'"
                />
            </div>
        </div>

        <!-- User Delete Modal-->
        <b-modal id="delete_user">
            <h3>Вы действительно хотите удалить пользователя?</h3>

            <template v-slot:modal-footer>
                <b-button variant="danger" @click="deleteUser">
                    Удалить
                </b-button>
                <b-button @click="$bvModal.hide('delete_user')">
                    Отменить
                </b-button>
            </template>
        </b-modal>

        <LoaderFixed v-if="loadingFixed"/>

    </div>
</template>

<script>

    import Toast from "~/mixins/Toast";
    import PaginationMixin from '~/mixins/pagination.mixin';
    import ErrorProcessing from "~/mixins/errorProcessing";

    export default {
        name: "Users",
        mixins: [Toast, PaginationMixin, ErrorProcessing],
        data() {
            return {
                loading: true,
                loadingFixed: false,
                users: null,
                currentRoute: this.$route.path,
                editableUserId: '',
                deletedUserId: '',
                last_page: 1,

                // data from input. Save and get from localStorage
                searchUserValue: this.$route.query.search || '',
                // for checking real changing value in input
                searchUserValuePrevious: '',
                // timeout for search request
                timeout: '',
            }
        },
        async mounted() {
            // if search params exists, get users by this params
            if (this.searchUserValue) {
                await this.initSearchUsers();
            } else {
                await this.getUsers();
            }
            this.loading = false;
        },
        methods: {
            async getUsers() {
                const res = await this.$store.dispatch('getUsers', this.current_page);

                if (res.request.status === 200) {
                    this.users = res.data.data;
                    this.last_page = res.data.lastPage;
                    this.getPaginationData(res.data);
                } else {
                    this.errorProcessing(res.request.status);
                }
            },
            async pageChange(page) {
                this.loading = true;

                const res = await this.$store.dispatch('getUsers', page);

                if (res.request.status === 200) {
                    this.users = res.data.data;
                    this.getPaginationData(res.data);

                    let searchQueryParameter = `${this.$route.path}`;
                    if (this.searchUserValue) {
                        searchQueryParameter += `?search=${this.searchUserValue}&page=${page}`
                    } else {
                        searchQueryParameter += `?page=${page}`;
                    }
                    this.$router.push(searchQueryParameter);
                } else {
                    this.errorProcessing(res.request.status);
                }

                this.loading = false;
            },
            setDeletedUser(e) {
                this.deletedUserId = e.target.dataset.id;
            },
            async deleteUser() {
                this.loadingFixed = true;

                const res = await this.$store.dispatch('deleteUser', this.deletedUserId);

                if (res.request.status === 200) {
                    this.getUsers();
                    this.$bvModal.hide('delete_user');
                    this.callToast('success', 'Успешно!', 'Пользователь удален!');
                } else {
                    this.errorProcessing(res.request.status);
                }

                this.loadingFixed = false;

            },

            // First page upload. Get users by query params from URL.
            async initSearchUsers() {
                const res = await this.$store.dispatch('searchUsers', `?search=${this.searchUserValue}&page=${this.$route.query.page}`);

                if (res.request.status === 200) {
                    this.users = res.data.data;
                    this.getPaginationData(res.data);
                } else {
                    this.errorProcessing(res.request.status);
                }
            },
            // Update Search params in input.
            async searchUsers() {
                if (this.searchUserValuePrevious !== this.searchUserValue) {

                    const route = this.$route,
                          fullPath = route.fullPath;

                    clearTimeout(this.timeout);

                    if (this.searchUserValue) {
                        const search_value = this.searchUserValue,
                              start_url = `${route.path}?search=${search_value}&page=1`;

                        try {
                            await this.$router.push(start_url);
                        }
                        catch (e) {

                        }

                        this.timeout = setTimeout(async () => {
                            const res = await this.$store.dispatch('searchUsers', `?search=${search_value}`);

                            if (res.request.status === 200) {
                                this.users = res.data.data;
                                this.getPaginationData(res.data);
                                this.current_page = 1;
                            } else {
                                this.errorProcessing(res.request.status);
                            }
                        },500);
                    } else {
                        const start_url = `${route.path}?page=1`;
                        this.current_page = 1;
                        await this.getUsers();

                        if (fullPath !== start_url) {
                            try {
                                await this.$router.push(start_url);
                            }
                            catch (e) {

                            }
                        }
                    }

                }
                this.searchUserValuePrevious = this.searchUserValue;
            }
        }
    }
</script>
