<template>
    <div class="py-3">
        <h2>Редактирование пользователя</h2>

        <Loader v-if="loading"/>
        <b-form v-else @submit.prevent="onSubmit" class="pb-3" id="edit_user">

            <div class="row my-2">

                <div class="col-6">
                    <label for="name" class="my-2 mt-3 required">Имя</label>
                    <b-form-input required id="name" name="name" v-model="user.name"
                                  placeholder="Введите имя пользователя..."></b-form-input>
                </div>
                <div class="col-6">
                    <label for="email" class="my-2 mt-3 required">E-mail</label>
                    <b-form-input
                            disabled
                            required
                            id="email"
                            type="email"
                            v-model="user.email"
                            placeholder="Введите email...">
                    </b-form-input>
                </div>
                <div class="col-6">
                    <label for="phone" class="my-2 mt-3 required">Телефон (10-12)</label>
                    <b-form-input
                            disabled
                            required
                            id="phone"
                            type="number"
                            min="0"
                            v-model="user.phone"
                            placeholder="Введите телефон...">
                    </b-form-input>
                </div>
                <div class="col-6">
                    <label for="address" class="my-2 mt-3 required">Адрес</label>
                    <b-form-input
                            required
                            id="address"
                            name="address"
                            type="text"
                            v-model="user.address"
                            placeholder="Введите адресс...">
                    </b-form-input>
                </div>
                <div class="col-6">
                    <label for="date_of_birth" class="my-2 mt-3 required">Дата рождения</label>
                    <b-form-input
                            required
                            id="date_of_birth"
                            name="date_of_birth"
                            type="date"
                            v-model="user.date_of_birth">
                    </b-form-input>
                </div>
                <div class="col-6">
                    <label for="gender" class="my-2 mt-3 required">Пол</label>
                    <b-form-select
                            required
                            id="gender"
                            name="gender"
                            v-model="user.gender"
                            :options="gender_options">
                    </b-form-select>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label for="role" class="my-2 mt-3 required">Роль</label>
                    <b-form-select
                            required
                            id="role"
                            name="role"
                            v-model="user.role"
                            :options="role_options">
                    </b-form-select>

                    <label for="password" class="my-2 mt-3">Изменить пароль</label>
                    <b-form-input
                            id="password"
                            type="password"
                            v-model="user.password"
                            @input="passwordConfirmation"
                            placeholder="Введите пароль...">
                    </b-form-input>

                    <label for="password_confirm" class="my-2 mt-3">Подтвердите пароль</label>
                    <b-form-input
                            id="password_confirm"
                            type="password"
                            v-model="passwordConfirm"
                            @input="passwordConfirmation"
                            placeholder="Введите пароль...">
                    </b-form-input>
                    <div v-if="passwordUnconfirmed" class="text-danger">
                        Пароль не совпадает
                    </div>

                    <b-alert show variant="warning my-2">Длина пароля должна быть минимум 6 символов</b-alert>
                </div>

                <div class="col-6">
                    <label class="my-2 mt-3">Фотография</label>
                    <b-form-file
                            no-drop
                            name="picture"
                            @change="loadImage"
                            accept="image/*"
                            placeholder="Выберите файл..."
                            data-browse="Добавить"
                    ></b-form-file>
                    <div class="text-center" v-if="user">
                        <img :src="imageSrc" class="img-fluid preview__image my-3">
                    </div>
                </div>
            </div>

            <div class="mt-3 text-center">
                <b-button type="submit" variant="success">Сохранить</b-button>
            </div>

        </b-form>

        <LoaderFixed v-if="loadingFixed"/>

    </div>
</template>

<script>
    import FileReader from '~/mixins/FileReader';
    import getFormData from "~/js/getFormData";
    import Toast from "~/mixins/Toast";
    import ImageValidate from "~/mixins/image_upload_validate";
    import ErrorProcessing from "~/mixins/errorProcessing";

    export default {
        name: "UsersCreate",

        mixins: [
            FileReader, Toast, ImageValidate, ErrorProcessing
        ],

        data() {
            return {
                loading: true,
                loadingFixed: false,
                user: '',
                imageSrc: '',
                gender_options: [
                    {text: 'Мужчина', value: 'Мужчина'},
                    {text: 'Женщина', value: 'Женщина'},
                ],
                role_options: [
                    {text: 'Администратор', value: 'admin'},
                    {text: 'Пользователь', value: 'user'},
                ],
                loadedFile: '',
                passwordConfirm: '',
                passwordUnconfirmed: false,
            }
        },

        async mounted() {
            await this.getUserInfo();
            this.loading = false;
        },

        methods: {
            async getUserInfo() {
                const res = await this.$store.dispatch('getUser', this.$route.params.id);

                if (res.request.status === 200) {
                    this.user = res.data.data;
                    this.imageSrc = this.user.picture ? this.user.picture.image : '';
                } else {
                    this.errorProcessing(res.request.status);
                }
            },
            async onSubmit() {
                this.loadingFixed = true;

                if (this.loadedFile && !this.isValidImageSize(this.loadedFile)) {
                    this.loadingFixed = false;
                    return;
                }

                const pass = this.user.password || this.passwordConfirm;
                if (pass !== '' && pass.length < 6) {
                    this.callToast('danger', 'Внимание', 'Длина пароля должна быть минимум 6 символов');
                    return;
                }

                const data = getFormData('edit_user');
                data.append('_method', 'put');

                if (this.passwordConfirm && !this.passwordUnconfirmed) {
                    data.append('password', this.passwordConfirm);
                } else if (this.passwordConfirm && this.passwordUnconfirmed) {
                    this.callToast('danger', 'Внимание', 'Пароли не совпадают!');
                    return;
                }

                const res = await this.$store.dispatch('editUser', {data: data, id: this.$route.params.id});

                if (res.request.status === 200) {
                    this.callToast('success', `Успешно!`, 'Изменения сохранены!');
                    setTimeout(() => this.$router.push({name: 'users'}), 1500);
                } else {
                    this.errorProcessing(res.request.status);
                }

                this.loadingFixed = false;
            },
            loadImage(e) {
                this.loadedFile = e.target.files[0];
                this.imageSrc = this.readFileMultiple(this.loadedFile);
            },
            passwordConfirmation() {
                this.passwordUnconfirmed = this.user.password !== this.passwordConfirm;
            }
        }
    }
</script>

