<template>
    <transition name="loader_fixed">
        <div class="loading-fixed">
            <img src="/assets/img/logo.png" class="loading-fixed__spinner" alt=""/>
        </div>
    </transition>
</template>

<script>
    export default {
        name: "LoaderFixed"
    }
</script>

<style scoped>

</style>
