<template>
    <div class="loading">
        <img src="/assets/img/logo.png" class="loading__spinner" alt=""/>
    </div>
</template>

<script>
    export default {
        name: "Loader"
    }
</script>

<style scoped>

</style>
