<template>
    <div class="pt-3">
        <h2>Фото альбомы</h2>

        <div class="d-flex align-items-center justify-content-between mb-2">
            <button class="btn btn-dark btn__add" @click="$router.push('/admin/photo/album/create')">
                Добавить альбом
                <span class="btn-add__icon"></span>
            </button>
        </div>

        <Loader v-if="loading"/>
        <div v-else class="table-responsive">
            <table class="table table-hover table-animate">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название</th>
                    <th scope="col" class="text-center">Редактировать</th>
                    <th scope="col" class="text-center">Удалить</th>
                </tr>
                </thead>

                <tbody>
                <tr v-if="!albums.length">
                    <td class="is-empty" colspan="4">Список альбомов пуст!</td>
                </tr>
                <tr v-else v-for="(album, key) in albums">
                    <th>{{ from + key }}</th>
                    <td class="w-100">
                        <div class="table__text-headline table__text--1 table__text--nowrap">
                            {{ album.title }}
                        </div>
                    </td>
                    <td>
                        <button @click="$router.push('/admin/photo/album/' + album.id)"
                                class="btn-action btn-edit"></button>
                    </td>
                    <td>
                        <button type="button"
                                :data-id="album.id"
                                class="btn-action btn-delete"
                                @click="setDeletedAlbum"
                                v-b-modal.confirm_delete
                        ></button>
                    </td>
                </tr>
                </tbody>
            </table>

            <Paginate
                    v-model="current_page"
                    :page-count="last_page"
                    :click-handler="pageChange"
                    :prev-text="''"
                    :next-text="''"
                    :container-class="'pagination'"
                    :page-class="'pagination__page'"
                    :prev-class="'pagination__page-prev'"
                    :next-class="'pagination__page-next'"
            />

        </div>

        <!-- Album Delete Modal -->
        <b-modal id="confirm_delete">
            <h3>Вы действительно хотите удалить альбом?</h3>

            <template v-slot:modal-footer>
                <b-button variant="danger" @click="deleteTraining">
                    Удалить
                </b-button>
                <b-button @click="$bvModal.hide('confirm_delete')">
                    Отменить
                </b-button>
            </template>
        </b-modal>

        <LoaderFixed v-if="loadingFixed"/>

    </div>
</template>

<script>

    import Toast from '~/mixins/Toast';
    import thumbPath from "~/mixins/thumbPath";
    import PaginationMixin from '~/mixins/pagination.mixin';
    import ErrorProcessing from "~/mixins/errorProcessing";

    export default {
        name: "MediaPhoto",
        mixins: [
            Toast, thumbPath, PaginationMixin, ErrorProcessing
        ],
        data: () => ({
            loading: true,
            loadingFixed: false,
            albums: [],
            idOfDeletedAlbum: '',
        }),
        async mounted() {
            await this.getPhotoAlbum();
            this.loading = false;
        },
        methods: {
            async getPhotoAlbum() {
                const res = await this.$store.dispatch('getAlbum', this.current_page);

                if (res.request.status === 200) {
                    this.albums = res.data.data;
                    this.getPaginationData(res.data);
                } else {
                    this.errorProcessing(res.request.status);
                }
            },
            async pageChange(page) {
                this.loading = true;

                const res = await this.$store.dispatch('getAlbum', page);

                if (res.request.status === 200) {
                    this.albums = res.data.data;
                    this.getPaginationData(res.data);
                    this.$router.push(`${this.$route.path}?page=${page}`);
                } else {
                    this.errorProcessing(res.request.status);
                }

                this.loading = false;
            },
            setDeletedAlbum(e) {
                this.idOfDeletedAlbum = +e.target.dataset.id;
            },
            async deleteTraining() {
                this.loadingFixed = true;

                const res = await this.$store.dispatch('deleteAlbum', this.idOfDeletedAlbum);

                if (res.request.status === 200) {
                    this.albums = this.albums.filter(item => item.id !== this.idOfDeletedAlbum);
                    this.$bvModal.hide('confirm_delete');
                    this.callToast('success', 'Успешно!', 'Альбом удален.');
                } else {
                    this.errorProcessing(res.request.status);
                }

                this.loadingFixed = false;
            }
        }
    }
</script>

<style scoped>

</style>
