<template>
    <div class="pt-3">
        <h2>Создать новый фото альбом</h2>

        <b-form @submit.prevent="onSubmitNewPhoto" class="pb-3" id="save_media_photo">

            <div>
                <label for="title" class="required mb-1 mt-3">Название альбома</label>
                <b-form-input name="title"
                              id="title"
                              v-model="album.title"
                              placeholder="Введите название альбома..."
                              required>
                </b-form-input>
            </div>

            <div>
                <label for="description" class="mb-1 mt-3">Описание альбома</label>
                <div class="vue-editor">
                    <input name="description" v-model="album.description" class="vue-editor__inp">
                    <vue-editor v-model="album.description" :editorToolbar="customToolbar"></vue-editor>
                </div>
            </div>

            <div class="my-2">
                <b-alert show variant="warning">
                    Максимальный размер загруженной картинки 10мб.<br>
                    Максимальное количество загруженных файлов - 20.<br>
                    Общий размер загруженных картинок должен быть не более 100мб.<br>
                </b-alert>
            </div>

            <div class="my-3">
                <b-form-file required multiple
                             :file-name-formatter="formatNames"
                             @change="downloadFiles($event)"
                             placeholder="Выберите файл..."
                             accept="image/*"
                >
                </b-form-file>
            </div>

            <div class="text-center font-weight-bold">
                Загруженные изображения составляют: {{ (uploadedPicturesSize/1000000).toFixed(2) }}мб.
            </div>

            <div class="photo-album my-4">
                <span v-for="(demo, key) in previewDownloadPhotos" class="photo-album__img m-2">
                    <button type="button"
                            class="btn-close"
                            :data-id="key"
                            @click="setDeletePhoto"
                    >
                        &times;
                    </button>
                    <b-img class="photo-album__img-demo" fluid :src="demo" alt=""></b-img>
                </span>
            </div>

            <div class="d-flex justify-content-center">
                <b-button class="ml-3" type="submit" variant="success">Сохранить</b-button>
            </div>

        </b-form>

        <!-- Loader -->
        <LoaderFixed v-if="loadingFixed"/>

    </div>
</template>

<script>

    import getFormData from '~/js/getFormData';
    import Toast from '~/mixins/Toast';
    import thumbPath from "~/mixins/thumbPath";
    import FileReader from '~/mixins/FileReader';
    import VueEditor from '~/mixins/vueEditor';
    import ImageValidate from "~/mixins/image_upload_validate";
    import ErrorProcessing from "~/mixins/errorProcessing";

    export default {
        name: "PhotoAlbumCreate",
        mixins: [
            Toast, thumbPath, FileReader, VueEditor,ImageValidate, ErrorProcessing
        ],
        data: () => ({
            loading: true,
            loadingFixed: false,
            album: {
                title: '',
                description: '',
                pictures: []
            },
            pictureSrc: null,
            pictureCount: 0,
            previewDownloadPhotos: [],
            selectedFiles: [],
            uploadedPictureLength: 0,
            uploadedPicturesSize: 0
        }),
        mounted() {
            this.loading = false;
        },
        methods: {
            async onSubmitNewPhoto() {
                this.loadingFixed = true;

                const data = await getFormData('save_media_photo');

                await this.selectedFiles.forEach((file, i) => {
                    data.append('pictures[' + i + ']', file);
                });

                const res = await this.$store.dispatch('createNewAlbum', data);

                if (res.request.status === 200) {
                    this.callToast('success', 'Успешно!', 'Успешно сохранено.');
                    setTimeout(() => this.$router.push('/admin/photo'), 1500);
                } else {
                    this.errorProcessing(res.request.status);
                }
                this.loadingFixed = false;
            },
            formatNames(files) {
                return `${this.previewDownloadPhotos.length} файлов загружено`;
            },
            async downloadFiles(e) {
                let files = e.target.files,
                    files_length = files.length,
                    files_size = 0;

                if ((this.uploadedPictureLength + files_length) <= 20) {
                    for (let i = 0; i < files_length; i++) {
                        let item = files[i];
                        if (!this.isValidImageSize(item)) {
                            return;
                        } else {
                            files_size += item.size;
                        }
                    }
                    if (!this.isValidImagesSize(this.uploadedPicturesSize + files_size)) return;
                    this.uploadedPicturesSize += files_size;
                    this.uploadedPictureLength += files_length;
                } else {
                    this.callToast(
                        'danger',
                        'Внимание!',
                        `Количество файлов превышено! Максимальное количество - 20 файлов`,
                        5000,
                    );
                    return
                }

                if (!this.isValidImagesSize(files_size)) return;

                this.selectedFiles.push(...files);

                await files.forEach((file) => {
                    this.previewDownloadPhotos.push(this.readFileMultiple(file));
                });
            },
            setDeletePhoto(e) {
                const photoId = +e.target.dataset.id;
                this.uploadedPictureLength--;
                this.uploadedPicturesSize -= this.selectedFiles[photoId].size;
                this.previewDownloadPhotos = this.previewDownloadPhotos.filter((photo, i) => i !== photoId);
                this.selectedFiles = this.selectedFiles.filter((photo, i) => i !== photoId);
                this.pictureCount -= 1;
            }
        }
    }
</script>

<style scoped>

</style>
