<template>
    <Loader v-if="loading"/>
    <div v-else class="pt-3">
        <h2>Редактирование альбома</h2>
        <b-form @submit.prevent="onSubmitNewVideo" class="pb-3" id="save_media_video">

            <div>
                <label for="title" class="required mb-1 mt-3">Название альбома</label>
                <b-form-input name="title"
                              id="title"
                              v-model="data.title"
                              placeholder="Введите название альбома..."
                              required>
                </b-form-input>
            </div>

            <div>
                <label for="description" class="mb-1 mt-3">Описание альбома</label>
                <div class="vue-editor">
                    <input name="description" v-model="data.description" class="vue-editor__inp">
                    <vue-editor v-model="data.description" :editorToolbar="customToolbar"></vue-editor>
                </div>
            </div>

            <div>
                <label for="video" class="required my-2 mt-3 mr-3">Видео</label>
                <small v-show="!isValid" class="text-danger">Ссылка не валидна</small>

                <input v-model="data.video.path" id="video" name="video" type="url" class="form-control"
                       placeholder="Введите ссылку на видео Youtube или Vimeo..." @input="setEmbedVideo" required>

                <div v-show="preview_src" style="padding:56.25% 0 0 0;position:relative;" class="mt-3">
                    <iframe :src="preview_src" style="position:absolute;top:0;left:0;width:100%;height:100%;"
                            frameborder="0" allow="autoplay; fullscreen" allowfullscreen>
                    </iframe>
                </div>
            </div>

            <div class="mt-3 text-center">
                <b-button type="submit" variant="success">Сохранить</b-button>
            </div>

        </b-form>

        <!-- Loader -->
        <LoaderFixed v-show="loadingFixed"/>

    </div>
</template>

<script>

    import getFormData from '~/js/getFormData';
    import Toast from '~/mixins/Toast';
    import parseVideoUrl from '~/mixins/parseVideoUrl';
    import VueEditor from '~/mixins/vueEditor';
    import ErrorProcessing from "~/mixins/errorProcessing";

    export default {
        name: "VideoAlbum",
        mixins: [
            Toast, parseVideoUrl, VueEditor, ErrorProcessing
        ],
        data: () => ({
            loading: true,
            loadingFixed: false,
            data: {
                title: '',
                description: '',
                video: {}
            },
        }),
        async created() {
            await this.getAlbum();
            this.loading = false;
        },
        methods: {
            async getAlbum() {
                const res = await this.$store.dispatch('getVideoAlbum');

                if (res.request.status === 200) {
                    let data = res.data.data;
                    const id = +this.$route.params.id;
                    data = data.find(data => data.id === id);
                    this.data = data;
                    this.preview_src = this.parseVideoUrl(this.data.video.path);
                } else {
                    this.errorProcessing(res.request.status);
                }
            },
            async onSubmitNewVideo() {
                this.loadingFixed = true;

                const data = await getFormData('save_media_video');

                data.append('_method', 'put');

                const res = await this.$store.dispatch('saveVideoAlbum', {id: this.$route.params.id, album: data});

                if (res.request.status === 200) {
                    this.callToast('success', 'Успешно!', 'Успешно сохранено.');
                    setTimeout(() => this.$router.push('/admin/video'), 1500);
                } else {
                    this.errorProcessing(res.request.status);
                }
                this.loadingFixed = false;
            }
        }
    }
</script>

<style scoped>

</style>
