<template>
    <div class="pt-3">
        <h2>Туры</h2>

        <Loader v-if="loading"/>
        <div v-else class="posts">
            <div class="table-responsive">
                <table class="table table-hover table-animate">

                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Название</th>
                        <th scope="col" class="text-center">Восстановить</th>
                        <th scope="col" class="text-center">Удалить</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr v-if="!tours.length">
                        <td class="is-empty" colspan="4">Список туров пуст!</td>
                    </tr>
                    <tr v-else v-for="(item, key) in tours">
                        <th>
                            {{ from + key }}
                        </th>
                        <td class="w-100">
                            <div class="table__text-headline table__text--2 table__text--nowrap">
                                {{ item.name }}
                            </div>
                        </td>
                        <td>
                            <button
                                    type="button"
                                    :data-slug="item.slug"
                                    class="btn-action btn-restore"
                                    @click="setActiveTour"
                                    v-b-modal.confirm_restore
                            ></button>
                        </td>
                        <td>
                            <button
                                    type="button"
                                    :data-slug="item.slug"
                                    class="btn-action btn-delete"
                                    @click="setActiveTour"
                                    v-b-modal.delete_tour
                            ></button>
                        </td>
                    </tr>
                    </tbody>

                </table>

                <Paginate
                        v-model="current_page"
                        :page-count="last_page"
                        :click-handler="pageChange"
                        :prev-text="''"
                        :next-text="''"
                        :container-class="'pagination'"
                        :page-class="'pagination__page'"
                        :prev-class="'pagination__page-prev'"
                        :next-class="'pagination__page-next'"
                />
            </div>
        </div>

        <b-modal id="delete_tour">
            <h3>Вы действительно хотите окончательно удалить тур?</h3>

            <template v-slot:modal-footer>
                <b-button variant="danger" @click="deleteTour">
                    Удалить
                </b-button>
                <b-button @click="$bvModal.hide('delete_tour')">
                    Отменить
                </b-button>
            </template>
        </b-modal>
        <b-modal id="confirm_restore">
            <h3>Вы действительно хотите восстановить запись?</h3>

            <template v-slot:modal-footer>
                <b-button variant="primary" @click="restoreTour">
                    Восстановить
                </b-button>
                <b-button @click="$bvModal.hide('confirm_restore')">
                    Отменить
                </b-button>
            </template>
        </b-modal>

        <LoaderFixed v-if="loadingFixed" />
    </div>
</template>

<script>
    import Toast from "~/mixins/Toast";
    import PaginationMixin from '~/mixins/pagination.mixin';
    import ErrorProcessing from "~/mixins/errorProcessing";

    export default {
        name: "ArchiveTours",
        mixins: [Toast, PaginationMixin, ErrorProcessing],
        data() {
            return {
                loading: true,
                loadingFixed: false,
                tours: [],
                currentRoute: this.$route.path,
                editableTour: '',
                editableTourId: '',
                editableTourName: '',
                activeTourSlug: '',
            }
        },

        async mounted() {
            await this.getTours();
            this.loading = false;
        },

        methods: {
            async getTours() {
                const res = await this.$store.dispatch('getDeletedTours', this.current_page);

                if (res.request.status === 200) {
                    this.tours = res.data.data;
                    this.getPaginationData(res.data);
                } else {
                    this.errorProcessing(res.request.status);
                }
            },
            async pageChange(page) {
                this.loading = true;

                const res = await this.$store.dispatch('getDeletedTours', page);

                if (res.request.status === 200) {
                    this.tours = res.data.data;
                    this.getPaginationData(res.data);
                    this.$router.push(`${this.$route.path}?page=${page}`);
                } else {
                    this.errorProcessing(res.request.status);
                }

                this.loading = false;
            },
            setActiveTour(e) {
                this.activeTourSlug = e.target.dataset.slug;
            },
            async deleteTour() {
                this.loadingFixed = true;

                const res = await this.$store.dispatch('removeDeletedTour', this.activeTourSlug);

                if (res.request.status === 200) {
                    this.getTours();
                    this.$bvModal.hide('delete_tour');
                    this.callToast('success', 'Успешно!', 'Тур удален!');
                } else {
                    this.errorProcessing(res.request.status);
                }
                this.loadingFixed = false;
            },
            async restoreTour() {
                this.loadingFixed = true;

                const res = await this.$store.dispatch('restoreDeletedTour', this.activeTourSlug);

                if (res.request.status === 200) {
                    this.getTours();
                    this.$bvModal.hide('confirm_restore');
                    this.callToast('success', 'Успешно!', 'Тур восстановлен!');
                } else {
                    this.errorProcessing(res.request.status);
                }
                this.loadingFixed = false;
            },
        }
    }
</script>