<template>
    <div class="pt-3">
        <h2>Удаленные тренинги</h2>

        <Loader v-if="loading"/>
        <div v-else class="posts">
            <div class="table-responsive">
                <table class="table table-hover table-animate">

                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Фото</th>
                        <th scope="col">Название</th>
                        <th scope="col">Категория</th>
                        <th scope="col">Группа</th>
                        <th scope="col">Старт</th>
                        <th scope="col" class="text-center">Восстановить</th>
                        <th scope="col" class="text-center">Удалить</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr v-if="!trainings.length">
                        <td class="is-empty" colspan="8">Список тренингов пуст!</td>
                    </tr>
                    <tr v-else v-for="(item, key) in trainings">
                        <th>{{ from + key }}</th>
                        <th><img :src="thumbPath + item.picture.thumbnail" class="table__thumb" alt="_"></th>
                        <td class="w-100">{{item.name}}</td>
                        <td>{{ item.category.name }}</td>
                        <td>{{ item.group.name }}</td>
                        <td class="text-nowrap">{{item.date_start | dateFilter}}</td>
                        <td>
                            <button
                                    type="button"
                                    :data-slug="item.slug"
                                    class="btn-action btn-restore"
                                    @click="setActiveTraining"
                                    v-b-modal.confirm_restore
                            ></button>
                        </td>
                        <td>
                            <button
                                    type="button"
                                    :data-slug="item.slug"
                                    class="btn-action btn-delete"
                                    @click="setActiveTraining"
                                    v-b-modal.confirm_delete
                            ></button>
                        </td>
                    </tr>
                    </tbody>

                </table>

                <Paginate
                        v-model="current_page"
                        :page-count="last_page"
                        :click-handler="pageChange"
                        :prev-text="''"
                        :next-text="''"
                        :container-class="'pagination'"
                        :page-class="'pagination__page'"
                        :prev-class="'pagination__page-prev'"
                        :next-class="'pagination__page-next'"
                />
            </div>
        </div>

        <b-modal id="confirm_delete">
            <h3>Вы действительно хотите окночательно удалить запись?</h3>

            <template v-slot:modal-footer>
                <b-button variant="danger" @click="deleteTraining">
                    Удалить
                </b-button>
                <b-button @click="$bvModal.hide('confirm_delete')">
                    Отменить
                </b-button>
            </template>
        </b-modal>
        <b-modal id="confirm_restore">
            <h3>Вы действительно хотите восстановить запись?</h3>

            <template v-slot:modal-footer>
                <b-button variant="primary" @click="restoreTraining">
                    Восстановить
                </b-button>
                <b-button @click="$bvModal.hide('confirm_restore')">
                    Отменить
                </b-button>
            </template>
        </b-modal>

        <LoaderFixed v-if="loadingFixed"/>
    </div>
</template>

<script>
    import thumbPath from "~/mixins/thumbPath";
    import Toast from "~/mixins/Toast";
    import PaginationMixin from '~/mixins/pagination.mixin';
    import ErrorProcessing from "~/mixins/errorProcessing";

    export default {
        name: "ArchiveTrainings",
        mixins: [thumbPath, Toast, PaginationMixin, ErrorProcessing],

        data() {
            return {
                loading: true,
                loadingFixed: false,
                trainings: null,
                error: null,
                currentRoute: this.$route.path,
                slugOfActiveRecord: null,
            }
        },

        async mounted() {
            await this.getTrainings();
            this.loading = false;
        },

        methods: {
            async getTrainings() {
                const res = await this.$store.dispatch('getDeletedTrainings', this.current_page);

                if (res.request.status === 200) {
                    this.trainings = res.data.data;
                    this.getPaginationData(res.data);
                } else {
                    this.errorProcessing(res.request.status);
                }
            },
            async pageChange(page) {
                this.loading = true;

                const res = await this.$store.dispatch('getDeletedTrainings', page);

                if (res.request.status === 200) {
                    this.trainings = res.data.data;
                    this.getPaginationData(res.data);
                    this.$router.push(`${this.$route.path}?page=${page}`);
                } else {
                    this.errorProcessing(res.request.status);
                }

                this.loading = false;
            },
            setActiveTraining(e) {
                this.slugOfActiveRecord = e.target.dataset.slug;
            },
            async deleteTraining() {
                this.loadingFixed = true;

                const res = await this.$store.dispatch('removeDeletedTraining', this.slugOfActiveRecord);

                if (res.request.status === 200) {
                    this.getTrainings();
                    this.$bvModal.hide('confirm_delete');
                    this.callToast('success', 'Успешно!', 'Тренинг удален!');
                } else {
                    this.errorProcessing(res.request.status);
                }

                this.loadingFixed = false;
            },
            async restoreTraining() {
                this.loadingFixed = true;

                const res = await this.$store.dispatch('restoreDeletedTraining', this.slugOfActiveRecord);

                if (res.request.status === 200) {
                    this.getTrainings();
                    this.$bvModal.hide('confirm_restore');
                    this.callToast('success', 'Успешно!', 'Тренинг восстановлен!');
                } else {
                    this.errorProcessing(res.request.status);
                }

                this.loadingFixed = false;
            },
        }
    }
</script>