<template>
    <div class="pt-3">
        <h2>Товары</h2>

        <Loader v-if="loading"/>
        <div v-else class="posts">
            <div class="table-responsive">
                <table class="table table-hover table-animate">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Фото</th>
                        <th scope="col">Название</th>
                        <th scope="col" class="text-center">Восстановить</th>
                        <th scope="col" class="text-center">Удалить</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr v-if="!products.length">
                        <td class="is-empty" colspan="5">Список товаров пуст!</td>
                    </tr>
                    <tr v-else v-for="(item, key) in products">
                        <th>{{ from  + key }}</th>
                        <td><img :src="thumbPath + item.picture.thumbnail" class="table__thumb" alt="_"></td>
                        <td class="w-100">
                            <div class="table__text-headline table__text--2 table__text--nowrap">
                                {{ item.name }}
                            </div>
                        </td>
                        <td>
                            <button
                                    type="button"
                                    :data-slug="item.slug"
                                    class="btn-action btn-restore"
                                    @click="setActiveProduct"
                                    v-b-modal.confirm_restore
                            ></button>
                        </td>
                        <td>
                            <button
                                    type="button"
                                    :data-slug="item.slug"
                                    :data-id="item.id"
                                    class="btn-action btn-delete"
                                    @click="setActiveProduct"
                                    v-b-modal.delete_product
                            ></button>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <Paginate
                        v-model="current_page"
                        :page-count="last_page"
                        :click-handler="pageChange"
                        :prev-text="''"
                        :next-text="''"
                        :container-class="'pagination'"
                        :page-class="'pagination__page'"
                        :prev-class="'pagination__page-prev'"
                        :next-class="'pagination__page-next'"
                />
            </div>
        </div>

        <b-modal id="delete_product">
            <h3>Вы действительно хотите окончательно удалить товар?</h3>

            <template v-slot:modal-footer>
                <b-button variant="danger" @click="deleteProduct">
                    Удалить
                </b-button>
                <b-button @click="$bvModal.hide('delete_product')">
                    Отменить
                </b-button>
            </template>
        </b-modal>
        <b-modal id="confirm_restore">
            <h3>Вы действительно хотите восстановить запись?</h3>

            <template v-slot:modal-footer>
                <b-button variant="primary" @click="restoreProduct">
                    Восстановить
                </b-button>
                <b-button @click="$bvModal.hide('confirm_restore')">
                    Отменить
                </b-button>
            </template>
        </b-modal>

        <LoaderFixed v-if="loadingFixed"/>
    </div>
</template>

<script>
    import thumbPath from "~/mixins/thumbPath";
    import Toast from "~/mixins/Toast";
    import PaginationMixin from '~/mixins/pagination.mixin';
    import ErrorProcessing from "~/mixins/errorProcessing";

    export default {
        name: "ArchiveProducts",
        mixins: [Toast, thumbPath, PaginationMixin, ErrorProcessing],
        data() {
            return {
                loading: true,
                loadingFixed: false,
                products: null,
                currentRoute: this.$route.path,
            }
        },
        async mounted() {
            await this.getProducts();
            this.loading = false;
        },
        methods: {
            async getProducts() {
                const res = await this.$store.dispatch('getDeletedProducts', this.current_page);

                if (res.request.status === 200) {
                    this.products = res.data.data;
                    this.getPaginationData(res.data);
                } else {
                    this.errorProcessing(res.request.status);
                }
            },
            async pageChange(page) {
                this.loading = true;

                const res = await this.$store.dispatch('getDeletedProducts', page);

                if (res.request.status === 200) {
                    this.products = res.data.data;
                    this.getPaginationData(res.data);
                    this.$router.push(`${this.$route.path}?page=${page}`);
                } else {
                    this.errorProcessing(res.request.status);
                }

                this.loading = false;
            },
            setActiveProduct(e) {
                this.activeUserSlug = e.target.dataset.slug;
            },
            async deleteProduct() {
                this.loadingFixed = true;

                const res = await this.$store.dispatch('removeDeletedProduct', this.activeUserSlug);

                if (res.request.status === 200) {
                    this.getProducts();
                    this.$bvModal.hide('delete_product');
                    this.callToast('success', 'Успешно!', 'Товар удален!');
                } else {
                    this.errorProcessing(res.request.status);
                }

                this.loadingFixed = false;
            },
            async restoreProduct() {
                this.loadingFixed = true;

                const res = await this.$store.dispatch('restoreDeletedProduct', this.activeUserSlug);

                if (res.request.status === 200) {
                    this.getProducts();
                    this.$bvModal.hide('confirm_restore');
                    this.callToast('success', 'Успешно!', 'Товар восстановлен!');
                } else {
                    this.errorProcessing(res.request.status);
                }

                this.loadingFixed = false;
            },
        }
    }
</script>
