<template>
    <div class="pt-3">
        <h2>Пользователи</h2>

        <div class="mb-2">
            <b-form-input @keyup="searchUsers"
                          v-model="searchUserValue"
                          id="user_search_field"
                          class="ml-auto w-25"
                          placeholder="Поиск пользователя"
                          v-b-popover.hover.top="'Введите e-mail, имя или телефон'">
            </b-form-input>
        </div>

        <Loader v-if="loading"/>
        <div v-else class="posts">
            <div class="table-responsive">
                <table class="table table-hover table-animate">

                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Телефон</th>
                        <th scope="col">E-mail</th>
                        <th scope="col" class="text-center">Восстановить</th>
                        <th scope="col" class="text-center">Удалить</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr v-if="!users.length">
                        <td class="is-empty" colspan="6">Список пользователей пуст!</td>
                    </tr>
                    <tr v-else v-for="(item, key) in users">
                        <th>
                            {{ from + key }}
                        </th>
                        <td><!-- class="w-100" -->
                            {{ item.name }}
                        </td>
                        <td>{{ item.phone }}</td>
                        <td>{{ item.email }}</td>
                        <td>
                            <button
                                    type="button"
                                    :data-id="item.id"
                                    class="btn-action btn-restore"
                                    @click="setActiveUser"
                                    v-b-modal.confirm_restore
                            ></button>
                        </td>
                        <td>
                            <button
                                    type="button"
                                    :data-id="item.id"
                                    class="btn-action btn-delete"
                                    @click="setActiveUser"
                                    v-b-modal.delete_user
                            ></button>
                        </td>
                    </tr>
                    </tbody>

                </table>

                <Paginate
                        v-model="current_page"
                        :page-count="last_page"
                        :click-handler="pageChange"
                        :prev-text="''"
                        :next-text="''"
                        :container-class="'pagination'"
                        :page-class="'pagination__page'"
                        :prev-class="'pagination__page-prev'"
                        :next-class="'pagination__page-next'"
                />
            </div>
        </div>

        <b-modal id="delete_user">
            <h3>Вы действительно хотите окончательно удалить пользователя?</h3>

            <template v-slot:modal-footer>
                <b-button variant="danger" @click="deleteUser">
                    Удалить
                </b-button>
                <b-button @click="$bvModal.hide('delete_user')">
                    Отменить
                </b-button>
            </template>
        </b-modal>

        <b-modal id="confirm_restore">
            <h3>Вы действительно хотите восстановить пользователя?</h3>

            <template v-slot:modal-footer>
                <b-button variant="primary" @click="restoreUser">
                    Восстановить
                </b-button>
                <b-button @click="$bvModal.hide('confirm_restore')">
                    Отменить
                </b-button>
            </template>
        </b-modal>

        <LoaderFixed v-if="loadingFixed"/>
    </div>
</template>

<script>
    import Toast from "~/mixins/Toast";
    import PaginationMixin from '~/mixins/pagination.mixin';
    import ErrorProcessing from "~/mixins/errorProcessing";

    export default {
        name: "ArchiveUsers",
        mixins: [Toast, PaginationMixin, ErrorProcessing],
        data() {
            return {
                loading: true,
                loadingFixed: false,
                users: [],
                currentRoute: this.$route.path,
                activeUserId: '',

                // data from input. Save and get from localStorage
                searchUserValue: this.$route.query.search || '',
                // for checking real changing value in input
                searchUserValuePrevious: '',
                // timeout for search request
                timeout: '',
            }
        },

        async mounted() {
            await this.getUsers();
            this.loading = false;
        },

        methods: {
            async getUsers() {
                const res = await this.$store.dispatch('getDeletedUsers', this.current_page);

                if (res.request.status === 200) {
                    this.users = res.data.data;
                    this.getPaginationData(res.data);
                } else {
                    this.errorProcessing(res.request.status);
                }
            },
            async pageChange(page) {
                this.loading = true;

                const res = await this.$store.dispatch('getDeletedUsers', page);

                if (res.request.status === 200) {
                    this.users = res.data.data;
                    this.getPaginationData(res.data);
                    this.$router.push(`${this.$route.path}?page=${page}`);
                } else {
                    this.errorProcessing(res.request.status);
                }

                this.loading = false;
            },
            setActiveUser(e) {
                this.activeUserId = e.target.dataset.id;
            },
            async deleteUser() {
                this.loadingFixed = true;

                const res = await this.$store.dispatch('removeDeletedUser', this.activeUserId);

                if (res.request.status === 200) {
                    this.getUsers();
                    this.$bvModal.hide('delete_user');
                    this.callToast('success', 'Успешно!', 'Пользователь удален!');
                } else {
                    this.errorProcessing(res.request.status);
                }
                this.loadingFixed = false;
            },
            async restoreUser() {
                this.loadingFixed = true;

                const res = await this.$store.dispatch('restoreDeletedUser', this.activeUserId);

                if (res.request.status === 200) {
                    this.getUsers();
                    this.$bvModal.hide('confirm_restore');
                    this.callToast('success', 'Успешно!', 'Пользователь восстановлен!');
                } else {
                    this.errorProcessing(res.request.status);
                }
                this.loadingFixed = false;
            },

            // Update Search params in input.
            async searchUsers() {
                if (this.searchUserValuePrevious !== this.searchUserValue) {

                    const route = this.$route,
                        fullPath = route.fullPath;

                    clearTimeout(this.timeout);

                    if (this.searchUserValue) {
                        const search_value = this.searchUserValue,
                            start_url = `${route.path}?search=${search_value}&page=1`;

                        try {
                            await this.$router.push(start_url);
                        }
                        catch (e) {

                        }

                        this.timeout = setTimeout(async () => {
                            const res = await this.$store.dispatch('searchUsersArchive', `?search=${search_value}`);

                            if (res.request.status === 200) {
                                this.users = res.data.data;
                                this.getPaginationData(res.data);
                                this.current_page = 1;
                            } else {
                                this.errorProcessing(res.request.status);
                            }
                        },500);
                    } else {
                        const start_url = `${route.path}?page=1`;
                        this.current_page = 1;
                        await this.getUsers();

                        if (fullPath !== start_url) {
                            try {
                                await this.$router.push(start_url);
                            }
                            catch (e) {

                            }
                        }
                    }

                }
                this.searchUserValuePrevious = this.searchUserValue;
            }
        }
    }
</script>
