    <template>
    <div id="app">

        <component :is="layout">
            <router-view/>
        </component>

    </div>
</template>

<script>
    import AdminLayout from "./layouts/Admin/AdminLayout.vue";
    import UserLayout from "./layouts/User/UserLayout.vue";
    import AuthLayout from "./layouts/AuthLayout.vue";

    export default {
        name: 'app',

        data() {
            return {
                layout: null
            }
        },

        mounted() {
            this.layout = (this.$route.meta.layout || 'auth') + '-layout';
        },

        watch: {
            $route(to, from) {
                this.layout = (this.$route.meta.layout || 'auth') + '-layout'
            }
        },

        components: {
            'admin-layout': AdminLayout,
            'user-layout' : UserLayout,
            'auth-layout' : AuthLayout,
        }
    }
</script>