.photo-album {
  columns: 180px 6;

  &__img {
    position: relative;
    display: inline-block;

    &-demo {
      max-width: 180px;
      box-shadow: 0 0 0 0.2rem rgba(green, .4);
    }
  }

  & .btn-close {
    opacity: 0;
    animation: 1s ease-in-out 2s forwards fadeIn;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
