:root {
  --width-youtube-video: calc(85vw - 327px);
}

.preview__image {
  max-height: 500px;
}

.preview__video {
  /*
      Proportions of video should be 16:9
      9/16*100 = 56.25% - this is percent number 9 of number 16
  */
  display: block;
  margin: 0 auto;
  width: var(--width-youtube-video);
  height: calc((var(--width-youtube-video) / 100) * (9 / 16 * 100));

  background-color: #c1c1c1;
}

.training-review-preview-image {
  max-height: 40vh;
}
.training-review-description-nowrap {
  display: block;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: calc(100vw - 700px);
  overflow: hidden;
}