<template>
    <div class="pt-3">
        <h2>Устройства</h2>

        <div class="d-flex align-items-center justify-content-between mb-2" v-if="this.$store.getters.getUserRole === 'user'">
            <router-link class="btn btn-dark btn__add" to="/devices/set_device_owner">
                Добавить устройство
                <span class="btn-add__icon"></span>
            </router-link>
        </div>

        <Loader v-if="loading"/>
        <div v-else class="posts">
            <div class="table-responsive">
                <table class="table table-hover table-animate">

                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ID</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Описание</th>
                        <th scope="col" v-if="$store.getters.isAdmin">Пользователь</th>
                        <th scope="col">Дата создания</th>
                        <th scope="col" class="text-center">Смотреть</th>
                        <th scope="col" class="text-center">Удалить</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr v-if="!devices.length">
                        <td class="is-empty" colspan="8">Список устройств пуст!</td>
                    </tr>
                    <tr v-else v-for="(item, key) in devices" :class="{online: item.isOnline, offline: !item.isOnline}">
                        <th>{{ from + key }}</th>
                        <td >{{item.id|| ''}}</td>
                        <td >{{item.name|| ''}}</td>
                        <td>{{ item.description || ''}}</td>
                        <td v-if="$store.getters.isAdmin">{{ item.user.length ? item.user[0].name || '' : ''}}</td>
                        <td >{{(item.created_at || '')  | dateFilter}}</td>
                        <td>
                            <router-link :to="`/devices/${item.id}`" class="btn-action btn-show"></router-link>
                        </td>
                        <td>
                            <button
                                    type="button"
                                    class="btn-action btn-delete"
                                    @click="deleteDevice(item.id)"
                                    v-b-modal.confirm_delete
                            ></button>
                        </td>
                    </tr>
                    </tbody>

                </table>

                <Paginate
                        v-if="devices && devices.length && total > pageSize "
                        v-model="current_page"
                        :page-count="last_page"
                        :click-handler="pageChange"
                        :prev-text="''"
                        :next-text="''"
                        :container-class="'pagination'"
                        :page-class="'pagination__page'"
                        :prev-class="'pagination__page-prev'"
                        :next-class="'pagination__page-next'"
                />
            </div>
        </div>

        <!-- DeviceDelete Modal -->
        <b-modal id="confirm_delete">
            <h3>Вы действительно хотите удалить устройство?</h3>

            <template v-slot:modal-footer>
                <b-button variant="danger" @click="deleteDevice">
                    Удалить
                </b-button>
                <b-button @click="$bvModal.hide('confirm_delete')">
                    Отменить
                </b-button>
            </template>
        </b-modal>

        <LoaderFixed v-if="loadingFixed"/>

    </div>
</template>

<script>

    import thumbPath from "../../mixins/thumbPath";
    import Toast from "../../mixins/Toast";
    import PaginationMixin from '../../mixins/pagination.mixin';
    import ErrorProcessing from "../../mixins/errorProcessing";

    export default {
        name: "Devices",
        mixins: [thumbPath, Toast, PaginationMixin, ErrorProcessing],

        data() {
            return {
                loading: true,
                loadingFixed: false,
                devices: null,
                error: null,

                currentRoute: this.$route.path,
                slugOfDeletedRecord: null,
                idOfDeletedRecord: null,
            }
        },

        async mounted() {
            await this.getDevices();
            this.loading = false;
        },

        methods: {
            async getDevices() {
                const res = await this.$store.dispatch('getDevices', this.current_page);
                if (res.status === 200) {
                    this.devices = res.data.data;
                    this.getPaginationData(res.data);
                } else {
                    this.errorProcessing(res.request.status);
                }
            },
            async pageChange(page) {
                this.loading = true;

                const res =  await this.$store.dispatch('getDevices', page);
                console.log(res);
                if (res.request.status === 200) {
                    this.devices = res.data;
                    this.getPaginationData(res.data);
                    this.$router.push(`${this.$route.path}?page=${page}`);
                } else {
                    this.errorProcessing(res.request.status);
                }

                this.loading = false;
            },
            setDeletedDevice(id) {
                this.idOfDeletedRecord = id;
            },
            async deleteDevice() {
                this.loadingFixed = true;

                const res = await this.$store.dispatch('deleteDevice', this.idOfDeletedRecord);

                if (res.request.status === 200) {
                    this.getDevices();
                    this.$bvModal.hide('confirm_delete');
                } else {
                    this.errorProcessing(res.request.status);
                }

                this.loadingFixed = false;
            },


        }
    }
</script>
<style>
    .online {
        background-color: #00d08460;
    }
    .offline {
        background-color: #5f5f5f60;
    }
    .offline:hover, .online:hover {
        background-color: #fed33060!important;
    }
</style>
