<template>
    <div class="pt-3">
        <h2 v-if="device">Устройство {{device.device.device }}</h2>
        <h2 v-else>Устройство </h2>

        <Loader v-if="loading"/>
        <div v-else class="posts">
            <div class="table-responsive">
                <table class="table table-hover table-animate">
                    <thead>
                    <tr>
                        <th></th>
                        <th colspan="2" class="text-center border">Коллектор</th>
                        <th colspan="2" class="text-center border" >Нагреватель</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>Время</th>
                        <th class="border-left">t, &deg;C</th>
                        <th  class="border-right">реле</th>
                        <th class="border-left">t, &deg;C</th>
                        <th class="border-right">реле</th>

                        <th class="border-right">t, &deg;C</th>
                        <th class="border-right">реле слива</th>
                        <th class="border-right">режим</th>

                    </tr>
                    </thead>

                    <tbody>
                    <tr v-if="!device">
                        <td class="is-empty" colspan="8">Данные не найдены!</td>
                    </tr>
                    <tr v-else >
                        <td >{{device.device_time | dateFilter}}</td>
                        <td class="border-left">{{device.collector_temp|| ''}}</td>
                        <td class="border-right">{{ device.collector_relay?'вкл':'выкл'}}</td>
                        <td class="border-left">{{ device.heater_temp || ''}}</td>
                        <td class="border-right">{{device.heater_relay?'вкл':'выкл'}}</td>
                        <td class="border-right">{{device.inside_temp || '' }}</td>
                        <td class="border-right">{{device.drain_relay?'вкл':'выкл'}}</td>
                        <td class="border-right">{{device.mode || '' }}</td>

                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="mt-3" v-if="device.isOnline">
                <b-button-group  class="mx-auto" style="width: 100%;">
                    <b-button
                            v-for="(btn, index) in modes"
                            :key="index"
                            :variant="btn.buttonState?btn.type:`outline-${btn.type}`"
                            @click="changeDeviceMode(index)"
                    >{{ btn.name }}</b-button>
                </b-button-group>
            </div>
        </div>
        <div class="mt-3">
            <router-link v-if="modes[2].buttonState" :to="timetableLink" class="btn-action"> Расписание</router-link>
        </div>
        <LoaderFixed v-if="loadingFixed"/>
    </div>
</template>

<script>

    import thumbPath from "~/mixins/thumbPath";
    import Toast from "~/mixins/Toast";
    import PaginationMixin from '~/mixins/pagination.mixin';
    import ErrorProcessing from "~/mixins/errorProcessing";

    export default {
        name: "Device",
        mixins: [thumbPath, Toast, PaginationMixin, ErrorProcessing],
        data() {
            return {
                id: this.$route.params.id,
                loading: true,
                loadingFixed: false,
                device: null,
                error: null,
                modes : [
                    {
                        buttonState: false,
                        name: "Выкл",
                        value: "wait",
                        type: "",
                    },{
                        buttonState: false,
                        name: "Эко",
                        value: "collector",
                        type: "success",
                    },{
                        buttonState: true,
                        name: "Нормальный",
                        value:"heater",
                        type: 'info',
                    },{
                        buttonState: false,
                        name: "Слив",
                        value:"drain",
                        type: 'warning',
                    },
                ]
            }
        },

        async mounted() {
            await this.getDeviceData();
            this.loading = false;
        },
        computed: {
            btnStates() {
                return this.modes.map(btn => btn.buttonState)
            },
            timetableLink(){
                return this.$store.getters.isAdmin ?
                          `/admin/devices/timetable/${this.id}`
                        : `/devices/timetable/${this.id}`;
            },
        },
        methods: {
            async getDeviceData() {
                const res = await this.$store.dispatch('getDeviceData', this.id);

                if (res.request.status === 200) {
                    this.device = res.data;
                    const neededButton = this.modes.find(button => button.value === this.device.mode);
                    this.modes.map( mode => mode.buttonState = false)
                    neededButton.buttonState = true;
                } else {
                    this.errorProcessing(res.request.status);
                }
            },
            async changeDeviceMode(index){
                const data = {
                    device_id: this.device.device.id,
                    mode: this.modes[index].value
                }
                this.loading = true;
                const res = await this.$store.dispatch('sendModeToDevice', data)
                console.log(res)
                if (res.request.status === 200 && res.data !== 'device not found') {
                    this.device = res.data;
                    this.modes.map( mode => mode.buttonState = false)
                    this.modes[index].buttonState = true;

                } else {
                    this.errorProcessing(res.request.status);
                }

                this.loading = false;
            },

        }
    }
</script>
