<template>
    <div class="pt-3">
        <h2>Добавить устройство</h2>

            <b-alert variant="danger" v-if="errors" dismissable>
                {{errors}}
            </b-alert>
                <label for="device_name">
                    Введите номер устройства:
                    <input type="text" id="device_name" name="device_name" required v-model="device.name" minlength="3">
                </label>
                <label for="device_password">
                    Введите пароль устройства:
                    <input type="password" id="device_password" name="device_password" required
                           v-model="device.password" minlength="3">
                </label>
                <button @click="formSubmit">Add</button>
        </div>
</template>

<script>
    export default {
        name: "SetRelation",
        data() {
            return {
                errors: null,
                device: {
                    name: '',
                    password: ''
                },
            }
        },
        methods: {
            async formSubmit() {
                if (this.device.name.length && this.device.password.length) {
                    const result = await this.$store.dispatch('setRelation', this.device);
                    if (result) {
                        this.$router.push('/devices');
                    } else {
                        this.errors = JSON.stringify(result);
                    }
                }
            }
        },

    }
</script>

<style scoped>

</style>