<template>
    <div>
        <Loader v-show="loading"/>
        <div class="row" v-show="!loading" >
            <div class="col-6">
                <div class="form-group row">
                    <div class="col-5 mt-3" id="checkboxes_days_of_week">
                        <div class="m-1">
                            <input type=checkbox name=mon v-model="days.mon" id=mon>
                            <label for="mon">Понедельник</label>
                        </div>
                        <div class="m-1">
                            <input type=checkbox name=tue v-model="days.tue" id=tue>
                            <label for="tue">Вторник</label>
                        </div>
                        <div class="m-1">
                            <input type=checkbox name=wed v-model="days.wed" id=wed>
                            <label for="wed">Среда</label>
                        </div>
                        <div class="m-1">
                            <input type=checkbox name=thu v-model="days.thu" id=thu>
                            <label for="thu">Четверг</label>
                        </div>
                        <div class="m-1">
                            <input type=checkbox name=fri v-model="days.fri" id=fri>
                            <label for="fri">Пятница</label>
                        </div>
                        <div class="m-1">
                            <input type=checkbox name=sat v-model="days.sat" id=sat>
                            <label for="sat">Суббота</label>
                        </div>
                        <div class="m-1">
                            <input type=checkbox name=sun v-model="days.sun" id=sun>
                            <label for="sun">Воскресенье</label>
                        </div>
                    </div>
                    <div class="col-6 mt-3" id=hour_and_temp>
                        <div class="m-2">
                            <label for="from_time">C&nbsp;</label>
                            <b-form-timepicker
                                    id="from_time"
                                    v-model="from_time"
                                    v-bind="locales.ru"
                                    :locale="locale"
                                    :hide-header="true"
                                    :minutes-step="this.chartStep*60"
                            ></b-form-timepicker>
                        </div>
                        <div class="m-2">
                            <label for="till_time">&nbsp;до</label>
                            <b-form-timepicker
                                    id="till_time"
                                    v-model="till_time"
                                    v-bind="locales.ru"
                                    :locale="locale"
                                    :minutes-step="this.chartStep*60"
                            ></b-form-timepicker>
                        </div>
                        <div class="m-2">
                            <label for="tt_temp">Температура: </label>
                            <input type="number" name="temp" id="tt_temp" v-model="tt_temp">
                            <span>&deg;C</span>
                        </div>
                        <div class="m-2">
                            <b-button class="float-right" variant="outline-primary" @click="addTimetable">Добавить
                            </b-button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class=results>
                    <table class="table-animate table">

                        <tr>
                            <th>№п/п</th>
                            <th>дни</th>
                            <th>время с</th>
                            <th>время по</th>
                            <th>темп, &deg;C</th>
                            <th>удалить</th>
                        </tr>
                        <tr v-for="(timetable, index) in timetableItems">
                            <td>{{index}}</td>
                            <td>{{decodeDaysHuman(timetable.days_of_week)}}</td>
                            <td>{{timetable.from_time }}</td>
                            <td>{{timetable.till_time }}</td>
                            <td>{{timetable.temp}}</td>
                            <td>
                                <b-button
                                        @click="deleteTimetable(timetable.id, index)"

                                        variant="outline-light"
                                        :disabled="timetable.device_id===0"
                                >
                                    <b-icon
                                            icon="x-circle"
                                            scale="1.5"
                                            variant="danger"
                                            class="{animation:timetable.animation}"
                                            @mouseover="timetable.animation = 'spin'"
                                            @mouseout="timetable.animation = ''"
                                    ></b-icon>
                                </b-button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row w-100 h40px">
                <div class="col-12 " ref="chartdiv"></div>
            </div>
        </div>
    </div>
</template>

<script>

    import thumbPath from "~/mixins/thumbPath";
    import Toast from "~/mixins/Toast";
    import PaginationMixin from '~/mixins/pagination.mixin';
    import ErrorProcessing from "~/mixins/errorProcessing";
    import * as am4core from "@amcharts/amcharts4/core";
    import * as am4charts from "@amcharts/amcharts4/charts";
    import am4themes_animated from "@amcharts/amcharts4/themes/animated";

    am4core.useTheme(am4themes_animated);

    export default {
        name: "Timetable",
        mixins: [thumbPath, Toast, PaginationMixin, ErrorProcessing],
        data() {
            return {
                id: parseInt(this.$route.params.id),
                loading: true,
                loadingFixed: false,
                days: {},
                from_time: "07:00",
                till_time: "23:00",
                tt_temp: 22,
                device: null,
                timetableItems: [],
                error: null,
                isHovered: false,
                chart: null,
                chartData: [],
                modes: [
                    {
                        buttonState: false,
                        name: "Выкл",
                        value: "wait",
                        type: "",
                    }, {
                        buttonState: true,
                        name: "Эко",
                        value: "collector",
                        type: "success",
                    }, {
                        buttonState: false,
                        name: "Нормальный",
                        value: "heater",
                        type: 'info',
                    }, {
                        buttonState: false,
                        name: "Слив",
                        value: "drain",
                        type: 'warning',
                    },
                ],
                locale: 'ru',
                locales: {
                    ru: {
                        labelHours: 'Часы',
                        labelMinutes: 'Минуты',
                        labelSeconds: 'Секунды',
                        labelIncrement: 'Увеличить',
                        labelDecrement: 'Уменьшить',
                        labelSelected: 'Выбранное время',
                        labelNoTimeSelected: 'Время не выбрано',
                        labelCloseButton: 'Закрыть'
                    }
                },
                prevTemp: 0,
                chartStep: 0.05, //hours
                startDate: new Date,
            }
        },

        async mounted() {
            Math.fmod = function (a, b) {
                return Number((a - (Math.floor(a / b) * b)).toPrecision(8));
            };
            await this.getDeviceData();
            await this.getTimetable();
            this.createChart();
            this.prepareChartData();
        },
        beforeDestroy() {
            if (this.chart) {
                this.chart.dispose();
            }
        },
        computed: {
            btnStates() {
                return this.modes.map(btn => btn.buttonState)
            }
        },
        methods: {
            async getDeviceData() {
                this.loading = true;
                const res = await this.$store.dispatch('getDeviceData', this.id);
                if (res.request.status === 200) {
                    this.device = res.data[0];

                } else {
                    this.errorProcessing(res.request.status);
                }
            },
            async getTimetable() {
                const res = await this.$store.dispatch('getTimetable', this.id);

                if (res.request.status === 200) {
                    this.timetableItems = res.data;
                } else {
                    this.errorProcessing(res.request.status);
                }
            },
            async addTimetable() {
                this.loading = true;
                const data = {
                    from_time: this.from_time,
                    till_time: this.till_time,
                    temp: this.tt_temp,
                    device_id: this.id,
                    days_of_week: this.encodeDays()
                }
                this.timetableItems.push(data);
                this.prepareChartData();
                const res = await this.$store.dispatch('addTimetable', data);

                if (res.request.status === 200) {
                    console.log ('nice');
                } else {
                    this.timetableItems.splice(this.timetableItems.length-1,1);
                    this.prepareChartData();
                    this.errorProcessing(res.request.status);
                }
            },
            async deleteTimetable(id, index) {
                this.loading = true;
                const res = await this.$store.dispatch('deleteTimetable', id);
                if (res.request.status === 200) {
                    this.timetableItems.splice(index, 1);
                    this.prepareChartData();
                } else {
                    this.errorProcessing(res.request.status);
                }
            },

            encodeDays(days) {
                let result = 0;
                if (this.days.mon) result += 64;
                if (this.days.tue) result += 32;
                if (this.days.wed) result += 16;
                if (this.days.thu) result += 8;
                if (this.days.fri) result += 4;
                if (this.days.sat) result += 2;
                if (this.days.sun) result += 1;
                if (result === 0) result = 127;
                return result;
            },
            decodeDaysHuman(days) {
                let val = (+days).toString(2);
                while (val.length < 7) val = "0" + val;
                let arr = "";
                if (val[0] === "1") arr += "пн ";
                if (val[1] === "1") arr += "вт ";
                if (val[2] === "1") arr += "ср ";
                if (val[3] === "1") arr += "чт ";
                if (val[4] === "1") arr += "пт ";
                if (val[5] === "1") arr += "сб ";
                if (val[6] === "1") arr += "вс";
                if (arr.trim() === "пн вт ср чт пт сб вс") arr = 'Все';
                if (arr.trim() === "пн вт ср чт пт") arr = 'Будние';
                if (arr.trim() === "сб вс") arr = 'Выходные';
                return arr;
            },
            decodeDays(days) {
                let val = (+days).toString(2);
                while (val.length < 7) val = "0" + val;
                let arr = "";
                if (val[0] === "1") arr += "пн ";
                if (val[1] === "1") arr += "вт ";
                if (val[2] === "1") arr += "ср ";
                if (val[3] === "1") arr += "чт ";
                if (val[4] === "1") arr += "пт ";
                if (val[5] === "1") arr += "сб ";
                if (val[6] === "1") arr += "вс";
                return arr;
            },
            handleHover(hovered) {
                this.isHovered = hovered
            },
            createChart() {
                this.chart = am4core.create(this.$refs.chartdiv, am4charts.XYChart);
                const dateAxis = this.chart.xAxes.push(new am4charts.DateAxis());

                const valueAxis = this.chart.yAxes.push(new am4charts.ValueAxis());

                const series = this.chart.series.push(new am4charts.LineSeries());
                series.dataFields.valueY = "value";
                series.dataFields.dateX = "date";
                series.tooltipText = "{date}"

                series.tooltip.pointerOrientation = "vertical";

                this.chart.cursor = new am4charts.XYCursor();
                this.chart.cursor.snapToSeries = series;
                this.chart.cursor.xAxis = dateAxis;

                this.chart.scrollbarY = new am4core.Scrollbar();
                this.chart.scrollbarX = new am4core.Scrollbar();

            },
            prepareChartData() {
                this.chartData = [];
                let i = 0;
                const start = new Date;
                this.timetableItems.map(item => {

                    let date = this.$moment()
                    date.startOf('day');

                    if (item.device_id === 0) {
                        for (let i = 0; i < 24 * 7 / this.chartStep; i++) {
                            this.chartData.push({
                                date: date.toDate(),
                                name: 'tt',
                                value: item.temp
                            });
                            date.add(this.chartStep, 'hours');
                        }
                        return;
                    }

                    let days = this.decodeDays(item.days_of_week);

                    let from_time = item.from_time.split(":");
                    from_time = (parseInt(from_time[0]) * 60 + parseInt(from_time[1])) / 60;

                    let till_time = item.till_time.split(":");
                    till_time = (parseInt(till_time[0]) * 60 + parseInt(till_time[1])) / 60;


                    //every day check
                    for (let c = 0; c < 7; c++) {


                        if (days.indexOf(date.format("dd")) > -1) {

                            if (till_time < from_time) {

                                for (let hours = 0; hours <= till_time; hours += this.chartStep) {
                                    let dateToAdd1 = this.$moment(date);
                                    dateToAdd1.startOf('day');
                                    dateToAdd1 = dateToAdd1.add(hours, 'hours');
                                    console.log(dateToAdd1.toDate() + ' adding1 ' + item.temp);
                                    this.addToChart({
                                        date: dateToAdd1.toDate(),
                                        name: 'tt',
                                        value: item.temp
                                    });

                                }

                                for (let hours = from_time; hours < 24; hours += this.chartStep) {
                                    let dateToAdd2 = this.$moment(date);
                                    dateToAdd2.startOf('day');
                                    dateToAdd2 = dateToAdd2.add(hours, 'hours');
                                    console.log(dateToAdd2.toDate() + ' adding2 ' + item.temp);
                                    this.addToChart({
                                        date: dateToAdd2.toDate(),
                                        name: 'tt',
                                        value: item.temp
                                    });
                                }

                            } else {
                                for (let hours = from_time; hours < till_time; hours += this.chartStep) {
                                    const dateToAdd3 = this.$moment(date);
                                    dateToAdd3.startOf('day');
                                    dateToAdd3.add(hours, 'hours');
                                    this.addToChart({
                                        date: dateToAdd3.toDate(),
                                        name: 'tt',
                                        value: item.temp
                                    });
                                }
                            }
                        }
                        date.add("1", "day");
                    }
                })

                // ksort(items, SORT_NATURAL );
                this.chartData.sort(function compare(a, b) {
                    const dateA = new Date(a.date);
                    const dateB = new Date(b.date);
                    return dateA - dateB;
                });

                let index = 0;
                console.log(this.chartData.length)
                while (index < this.chartData.length) {

                    if (index > 1
                        && index < this.chartData.length - 1
                        && this.chartData[index - 1].value === this.chartData[index].value
                        && this.chartData[index + 1].value === this.chartData[index].value
                    ) {
                        // console.log(this.chartData[index - 1].date, this.chartData[index].date)
                        this.chartData.splice(index, 1)
                        continue;
                    }
                    index++;
                }
                console.log(this.chartData.length)

                this.chart.data = this.chartData;
                this.loading = false;
                const end = new Date;
                console.log('preparing lasted '+ (end-start)/1000 + ' seconds');
            },

            addToChart(item) {
                const index = this.chartData.find(el => Math.abs(new Date(el.date) - new Date(item.date)) < 3 * 60 * 1000);
                if (index) {
                    index.value = item.value;
                } else {
                    this.chartData.push(item);
                }
                this.prevTemp = item.value;
            },
        }
    }
</script>
<style>
    .tt_form_wrap {
        padding: 30px;
        margin: 30px;

    }

    .animation {
        animation: spin 4s linear infinite;
    }

    .h40px {
        height: 400px;
    }

    #tt_temp {
        width: 120px;
    }
</style>
