.loading-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  //transition: 5s;

  &__spinner {
    max-width: 90px;
    animation: 1.5s ease-in-out infinite loader;
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;

  &__spinner {
    max-width: 60px;
    animation: 1.5s ease-in-out infinite loader;
  }
}

.loader_fixed-enter,
.loader_fixed-leave-active {
  opacity: 0;
}
.loader_fixed-leave-active,
.loader_fixed-enter {
  opacity: 1;

}


@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
