.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 25px 0;

  &__page {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin: 0 1px;
    background: transparent;
    border: 1px solid $border-grey-color;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all .25s linear;

    a {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      color: $main-color;
    }

    &-prev,
    &-next {
      @extend .pagination__page;

      a:before {
        content: "";
        width: 6px;
        height: 6px;
        border-top: 2px solid $main-color;
        border-right: 2px solid $main-color;
      }

      &.disabled {
        background: transparent;

        a:before {
          border-color: $border-grey-color;
        }

        &:hover {
          background: transparent;
          border-color: $border-grey-color;

          a {
            cursor: not-allowed;

            &:before {
              border-color: $border-grey-color;
            }
          }
        }
      }
    }

    &-prev {
      a:before {
        transform: rotate(225deg) translate(-1px, 1px);
      }
    }

    &-next {
      a:before {
        transform: rotate(45deg) translate(-1px, 1px);
      }
    }


    &:hover {
      border-color: $main-color;
      background: $main-color;

      a {
        text-decoration: none;
        color: #fff;
        border-color: $main-color;

        &:before {
          border-color: #fff;
        }
      }
    }

    &.active {
      color: #fff;
      border-color: $main-color;
      background: $main-color;
      box-shadow: 0 0 3px rgba($main-color, .6);

      a {
        color: #fff;
      }
    }
  }
}
