.ql-editor {
  font-family: 'Gilroy', sans-serif;
  max-height: 400px;

  &.required {
    border: 1px solid $danger-color;
  }
}

.vue-editor {
  position: relative;

  &__inp {
    position: absolute;
    top: 30px;
    left: 0;
    opacity: 0;
  }
}
