button {
  border: none;
  outline: none;
  &:focus {
    outline: none;
  }
}
.btn {

  // for tables
  &-action {
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url(/assets/img/icons_kit.png);
    transition: .2s ease-in-out;

    &:hover {
      transform: scale(1.3);
    }
  }
  &-edit {
    background-position: -40px;
  }
  &-delete {
    background-position: -20px;
  }
  &-show {
    background-position-x: -100px;
  }
  &-restore {
    background-position-x: -120px;
  }
  // end for tables

  &__add {
    display: flex;
    align-items: center;
  }
  &-add {
    &__icon {
      display: block;
      width: 20px;
      height: 20px;
      margin-left: 10px;
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: -60px;
      background-image: url(/assets/img/icons_kit.png);
    }
  }

  &-logout {
    display: flex;
    align-items: center;
    color: #fff;
    border: 1px solid #fff;

    &:hover  {
      color: #fff;
      .btn-logout__icon {
        transform: translateX(3px) scale(.9);
      }
    }
    &__text {
      line-height: 1;
    }
    &__icon {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-left: 10px;
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-image: url(/assets/img/icons_kit.png);
      transition: .15s ease-in-out;
    }
  }

  &-close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    color: #fff;
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    padding: 0;
    border: none;
    border-radius: 50%;
    background: red;
    opacity: 0.7;
    z-index: 1;
    &:hover {
      opacity: 1;
    }
  }
}

a.disabled {
  opacity: .6;
  cursor: not-allowed;
  pointer-events: none;
}
