.table {
  border-collapse: collapse;

  &__thumb {
    max-width: 60px;
  }

  .is-empty {
    text-align: center;
    color: red;
  }

  thead {
    background: rgba(0, 0, 0, .03);

    tr {
      border: 1px solid #dee2e6;
    }

    th {
      border-bottom: none;
    }
  }

  th, td {
    vertical-align: middle;
    font-size: .9rem;

    &:first-child {
      text-align: center;
      width: 40px;
    }
  }

  tr {
    border-bottom: 1px solid #dee2e6;
  }

  &__text {

    &--nowrap {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    &--1 {
      max-width: calc(100vw - 800px);
    }
    &--2 {
      max-width: calc(100vw - 750px);
    }
    &--3 {
      max-width: calc(100vw - 980px);
    }
    &--4 {
      max-width: calc(100vw - 1120px);
    }

    &-description {
      display: block;
      font-size: 14px;
    }
  }

  &-animate {

    tbody, thead {
      perspective: 2000px;
      transform-style: preserve-3d;
    }

    tbody {
      tr {
        opacity: 0;
        transform-origin: top center;
        //background-color: #f7f7f7;

        &.error {
          background: rgba($danger-color, .15);
        }

        @for $i from 1 through 15 {
          &:nth-child(#{$i}) {
            animation: .2s ease-in-out #{$i/10}s forwards flipIn;
          }
        }
        @keyframes flipIn {
          0% {
            opacity: 0;
            transform: rotateX(-90deg);
          }
          100% {
            opacity: 1;
            transform: rotateX(0deg);
          }
        }
      }
    }

    thead {
      th {
        opacity: 0;

        @for $i from 1 through 10 {
          &:nth-child(#{$i}) {
            animation: .3s ease-in-out #{$i/10}s forwards fadeInRight;
          }
        }
        @keyframes fadeInRight {
          0% {
            opacity: 0;
            transform: translateY(50%);
          }
          100% {
            opacity: 1;
            transform: translateY(0%);
          }
        }
      }
    }

  }
}
