<template>
    <div class="pt-3">
        <h2>О нас</h2>

        <Loader v-if="loading"/>
        <b-form v-else @submit.prevent="onSubmitAboutUs" class="pb-3" id="about_us_form">
            <div>
                <label for="name" class="required my-2 mt-3">Имя</label>
                <b-form-input required
                              v-model="data.name"
                              id="name"
                              name="name"
                              placeholder="Введите имя...">
                </b-form-input>
            </div>

            <div>
                <label for="description" class="required mb-1 mt-3">Описание</label>
                <div class="vue-editor">
                    <input name="description" v-model="data.description" class="vue-editor__inp" required>
                    <vue-editor v-model="data.description" :editorToolbar="customToolbar"></vue-editor>
                </div>
            </div>

            <div>
                <label for="video" class="required my-2 mt-3 mr-3">Видео</label>
                <small v-show="!isValid" class="text-danger">Ссылка не валидна</small>

                <input v-model="data.video.path" id="video" name="video" type="url" class="form-control"
                       placeholder="Введите ссылку на видео Youtube или Vimeo..." @input="setEmbedVideo" required>

                <div v-show="preview_src" style="padding:56.25% 0 0 0;position:relative;" class="mt-3">
                    <iframe :src="preview_src" style="position:absolute;top:0;left:0;width:100%;height:100%;"
                            frameborder="0" allow="autoplay; fullscreen" allowfullscreen>
                    </iframe>
                </div>
            </div>

            <div class="mt-3 text-center">
                <b-button type="submit" variant="success">Сохранить</b-button>
            </div>
        </b-form>

        <LoaderFixed v-show="loadingFixed"/>

    </div>
</template>

<script>

    import getFormData from '~/js/getFormData';
    import ParseVideoUrl from '~/mixins/parseVideoUrl';
    import VueEditor from '~/mixins/vueEditor';
    import Toast from '~/mixins/Toast';
    import ErrorProcessing from "~/mixins/errorProcessing";

    export default {
        name: "AboutUs",
        mixins: [
            ParseVideoUrl, VueEditor, Toast, ErrorProcessing
        ],
        data: () => ({
            loading: true,
            loadingFixed: false,
            data: {}
        }),
        async created() {
            const res = await this.$store.dispatch('getInfoAboutUs');

            if (res.request.status === 200) {
                this.data = res.data;
                this.preview_src = this.parseVideoUrl(this.data.video.path);
            } else {
                this.errorProcessing(res.request.status);
            }
            this.loading = false;
        },
        methods: {
            async onSubmitAboutUs() {
                this.loadingFixed = true;

                const data = await getFormData('about_us_form');

                data.append('_method', 'put');

                const res = await this.$store.dispatch('saveAboutUs', {id: this.data.id, data: data});

                if (res.request.status === 200) {
                    this.callToast('success', 'Успешно!', 'Успешно сохранено.')
                } else {
                    this.errorProcessing(res.request.status);
                }

                this.loadingFixed = false;
            },
        }
    }
</script>