<template>
    <div class="pt-3">
        <h2>Контакты</h2>

        <Loader v-if="loading"/>
        <b-form v-else @submit.prevent="onSubmit" class="pb-3" id="contacts_form">
            <div>
                <label for="title" class="required my-2 mt-3">Заголовок</label>
                <b-form-input required
                              v-model="info.title"
                              id="title"
                              name="title"
                              placeholder="Введите заголовок..."/>
            </div>
            <div>
                <label for="address" class="required my-2 mt-3">Адрес</label>
                <b-form-input required
                              v-model="info.address"
                              id="address"
                              name="address"
                              placeholder="Введите адрес..."/>
            </div>
            <div>
                <label for="email" class="required my-2 mt-3">E-mail</label>
                <b-form-input required
                              v-model="info.email"
                              id="email"
                              name="email"
                              placeholder="Введите e-mail..."/>
            </div>
            <div>
                <label for="phone" class="required my-2 mt-3">Телефон</label>
                <b-form-input required
                              v-model="info.phone"
                              id="phone"
                              name="phone"
                              placeholder="Введите телефон..."/>
            </div>
            <div>
                <label for="phone_whatsapp" class="required my-2 mt-3">Телефон (whatsapp)</label>
                <b-form-input required
                              v-model="info.phone_whatsupp"
                              id="phone_whatsapp"
                              name="phone_whatsupp"
                              placeholder="Введите телефон (whatsapp)..."/>
            </div>
            <div>
                <label for="phone_viber" class="required my-2 mt-3">Телефон (viber)</label>
                <b-form-input required
                              v-model="info.phone_viber"
                              id="phone_viber"
                              name="phone_viber"
                              placeholder="Введите телефон (viber)..."/>
            </div>
            <div>
                <label for="website_link" class="required my-2 mt-3">Ссылка на сайт</label>
                <b-form-input required
                              v-model="info.web_site_url"
                              id="website_link"
                              name="web_site_url"
                              placeholder="Введите url на сайт..."/>
            </div>
            <div class="mt-3 text-center">
                <b-button type="submit" variant="success">Сохранить</b-button>
            </div>
        </b-form>

        <LoaderFixed v-if="loadingFixed"/>

    </div>
</template>

<script>
    import getFormData from '~/js/getFormData';
    import Toast from '~/mixins/Toast';
    import ErrorProcessing from "~/mixins/errorProcessing";

    export default {
        name: "Contacts",
        mixins: [
            Toast, ErrorProcessing
        ],
        data: () => ({
            loading: true,
            loadingFixed: false,
            info: {}
        }),
        async mounted() {
            const res = await this.$store.dispatch('getContacts');

            if (res.request.status === 200) {
                this.info = res.data;
            } else {
                this.errorProcessing(res.request.status);
            }
            this.loading = false;
        },
        methods: {
            async onSubmit() {
                this.loadingFixed = true;

                const data = await getFormData('contacts_form');
                data.append('_method', 'put');
                const res = await this.$store.dispatch('saveContacts', {id: this.info.id, data: data});

                if (res.request.status === 200) {
                    this.callToast('success', 'Успешно!', 'Успешно сохранено.')
                } else {
                    this.errorProcessing(res.request.status);
                }

                this.loadingFixed = false;
            },
        }
    }
</script>

<style scoped>

</style>
