<template>
    <div>
        <AdminLayoutTopbar/>

        <div class="admin-container d-flex">

            <AdminLayoutAside/>

            <AdminLayoutContent/>

        </div>
    </div>
</template>

<script>
    import AdminLayoutTopbar from "./AdminLayoutTopbar.vue";
    import AdminLayoutAside from "./AdminLayoutAside.vue";
    import AdminLayoutContent from "./AdminLayoutContent.vue";

    export default {
        name: 'AdminLayout',

        components: {
            AdminLayoutTopbar,
            AdminLayoutAside,
            AdminLayoutContent
        },

        beforeRouteUpdate (to, from, next) {
            const toDepth = to.path.split('/').length
            const fromDepth = from.path.split('/').length
            this.transitionName = toDepth < fromDepth ? 'slide-right' : 'slide-left'
            next()
        },
    }
</script>

<style scoped>

</style>