<template>
    <div class="admin__aside bg-light font-weight-bolder shadow">
        <nav class="mt-2">
            <div class="admin-aside__item">
                <router-link class="admin__link text-decoration-none" to="/admin/devices">Устройства</router-link>
            </div>
            <div class="admin-aside__item">
                <router-link class="admin__link text-decoration-none" to="/admin/users">Пользователи</router-link>
            </div>
            <div class="admin-aside__item">
                <router-link class="admin__link text-decoration-none" to="/admin/pages">Статические страницы</router-link>
            </div>
<!--            <div class="admin-aside__item">-->
<!--                <router-link class="admin__link text-decoration-none" to="/admin/stats">Статистика</router-link>-->
<!--            </div>-->
        </nav>
    </div>
</template>

<script>
    export default {
        name: "AdminLayoutAside",

        mounted() {
            const collapse_id = document.getElementsByClassName('router-link-active')[0].parentElement.id.substr(10);
            this.$root.$emit('bv::toggle::collapse', `accordion-${collapse_id}`)
        },
    }
</script>
