<template>
    <div class="admin__topbar p-3 d-flex justify-content-between align-content-center bg-dark text-white position-fixed w-100 shadow">
        <div class="h2 m-0">
            <img src="/assets/img/logo.png" class="admin-topbar__logo" alt="logo">
            Admin Panel
        </div>

        <b-button href="#" variant="logout" @click="logout">
            <span class="btn-logout__text">Выйти</span>
            <span class="btn-logout__icon"></span>
        </b-button>
    </div>
</template>

<script>
    export default {
        name: "AdminLayoutTopbar",

        methods: {
            async logout() {
                const result = await this.$store.dispatch('logout');
                console.log(result)
            }
        }
    }
</script>
