<template>
    <div class="admin__content container-fluid">
        <transition name="slide-left">
            <router-view class="child-view"/>
        </transition>
    </div>
</template>

<script>
    export default {
        name: "AdminLayoutContent"
    }
</script>