<template>

    <b-navbar toggleable="lg" type="dark" variant="info">
        <b-navbar-brand href="#">
            <img src="/assets/img/logo.png" class="user-topbar__logo" alt="logo">
            User Panel
        </b-navbar-brand>

        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav>

                <div class="button">
                    <router-link class="admin__link text-decoration-none" to="/devices">Устройства</router-link>
                </div>

                <div v-for="(page,index) in $store.getters.staticPages" class="button" :key="index">
                    <router-link class="admin__link text-decoration-none" :to="`/pages/${page.slug}`">
                        {{page.name}}
                    </router-link>
                </div>

<!--                <div class="admin-aside__item">-->
<!--                    <router-link class="admin__link text-decoration-none" to="/stats">Статистика</router-link>-->
<!--                </div>-->

            </b-navbar-nav>

            <!-- Right aligned nav items -->
            <b-navbar-nav class="ml-auto">
<!--                <b-nav-form>-->
<!--                    <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>-->
<!--                    <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>-->
<!--                </b-nav-form>-->

<!--                <b-nav-item-dropdown text="Lang" right>-->
<!--                    <b-dropdown-item href="#">EN</b-dropdown-item>-->
<!--                    <b-dropdown-item href="#">ES</b-dropdown-item>-->
<!--                    <b-dropdown-item href="#">RU</b-dropdown-item>-->
<!--                    <b-dropdown-item href="#">FA</b-dropdown-item>-->
<!--                </b-nav-item-dropdown>-->

                <b-nav-item-dropdown right>
                    <!-- Using 'button-content' slot -->
                    <template v-slot:button-content>
                        <em>User</em>
                    </template>
                    <b-dropdown-item href="#">Profile</b-dropdown-item>
                    <b-dropdown-item href="#" @click="logout">Sign Out</b-dropdown-item>
                </b-nav-item-dropdown>
            </b-navbar-nav>
        </b-collapse>
    </b-navbar>
</template>

<script>

    export default {
        name: "UserLayoutTopbar",
        mounted() {

        },
        methods: {
           async logout() {
                const result = await this.$store.dispatch('logout');
                console.log(result)
                // this.$store.commit('setToken', null);

            }
        },

    }
</script>
<style>
    .button {
        width: 150px;
        text-align: center;
    }
</style>