<template>
    <div>
        <UserLayoutTopbar/>

        <div class="user-container d-flex">

<!--            <UserLayoutAside/>-->

            <UserLayoutContent/>

        </div>
    </div>
</template>

<script>
    import UserLayoutTopbar from "./UserLayoutTopbar.vue";
    import UserLayoutAside from "./UserLayoutAside.vue";
    import UserLayoutContent from "./UserLayoutContent.vue";

    export default {
        name: 'UserLayout',

        components: {
            UserLayoutTopbar,
            UserLayoutAside,
            UserLayoutContent
        },

        beforeRouteUpdate (to, from, next) {
            const toDepth = to.path.split('/').length
            const fromDepth = from.path.split('/').length
            this.transitionName = toDepth < fromDepth ? 'slide-right' : 'slide-left'
            next()
        },
    }
</script>

<style scoped>

</style>