<template>
    <div class="login bg-light p-3 py-4 rounded shadow-lg position-relative">

        <div v-if="isAuthorized" class="text-center">
            <h4>Вы уже вошли в систему.</h4>
            <router-link :to="$store.getters.isAdmin? '/admin/devices': '/devices'">На главную</router-link>
        </div>

        <div v-else>

            <h3 class="text-center mb-4">Добро пожаловать!</h3>

            <p v-if="error" class="text-danger mb-3">Данные введены неверно!</p>

            <b-form @submit.prevent="onLogin">

                <b-form-group id="input-group-1">
                    <b-form-input
                            id="input-1"
                            v-model="email"
                            type="text"
                            name="email"
                            required
                            placeholder="Email"
                    ></b-form-input>
                </b-form-group>

                <b-form-group id="input-group-2">
                    <b-form-input
                            id="input-2"
                            v-model="password"
                            type="password"
                            name="password"
                            required
                            placeholder="Пароль"
                    ></b-form-input>
                </b-form-group>

                <div class="text-center mt-4">
                    <b-button type="submit" variant="dark">Войти</b-button>
                </div>

            </b-form>
        </div>

    </div>
</template>

<script>
    export default {
        name: 'Login',

        data() {
            return {
                email: '',
                password: '',
                error: false
            }
        },

        computed: {
            isAuthorized() {
               return  !!this.$store.getters.getToken;
            },
        },

        methods: {
            async onLogin() {
                this.error = !await this.$store.dispatch('login', {
                    email: this.email,
                    password: this.password
                });
                // console.log(this.$store.getters.getUserRole, 'is logged');
                console.log(this.error);
                if(!this.error) {
                    if(this.$store.getters.getUserRole === 'admin') {
                        await this.$router.push({name: 'devices'});
                    }else{
                        await this.$router.push({name: 'user_devices'});
                    }
                }
            },
        }
    }
</script>
