.admin-aside__item .btn-collapse-nav:focus,
.admin__link:focus {
  outline: 3px auto #0f6674;
  transition: 0s;
}

.admin__link {
  font-weight: 500;
}

.btn-collapse-nav {
  position: relative;
  text-align: left;
  font-weight: 600;
  margin-bottom: 2px;
  border-bottom: 1px solid #dee2e6;
  transition: .5s ease-in-out;
  &:focus,
  &:active {
    box-shadow: none;
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    background-size: auto 20px;
    background-position-x: -80px;
    background-image: url(/assets/img/icons_kit.png);
    transition: .25s ease-in-out;
  }

  &:not(.collapsed) {
    &:after {
      transform: rotate(180deg);
    }
  }
}

// active link
.router-link-active {
  background: #343a40;
  color: #fff!important;
}
