.default-layout {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  //background-image: linear-gradient(to right bottom, #4509d9, #9005ae, #fb1fa9, #ff8501, #ffe300);
  background-image: linear-gradient(to right bottom,#17a2b8,#28a745,#595d30,#ff8501,#ffe300);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.32);
  }
}