$admin_aside_width: 280;

.admin {
  &-container {
    height: 100vh;
  }

  &__topbar {
    font-size: 16px;
    z-index: 10;
  }
  &-topbar {
    &__logo {
      height: 40px;
    }
  }

  &__aside,
  &__content {
    padding: 72px 15px 40px;
  }

  &__content {
    height: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    &:after {
      content: '';
      position: fixed;
      bottom: 0;
      right: 0;
      left: #{$admin_aside_width}px;
      height: 80px;
      pointer-events: none;
      background-image: linear-gradient(0deg, #ffffffa3, transparent);
    }
  }

  &__aside {
    width: #{$admin_aside_width}px;
    min-width: #{$admin_aside_width}px;
    border-right: 1px solid #dee2e6;
  }

  &-aside {
    &__item {
      margin: 0 0 2px;
    }
  }

  &__link {
    width: 95%;
    margin: 0 auto 2px;
    color: #343a40!important;
    display: block;
    font-size: 0.9em;
    padding: 5px 25px;
    border-radius: 5px;
    transition: .3s ease-in-out;
    &:hover {
      box-shadow: 0 2px 16px -5px #acacac;
      &:not(.router-link-active) {
        background-color: #dee2e6;
      }
    }
  }
}

.user {
  &-container {
    height: 100vh;
  }

  &__topbar {
    font-size: 16px;
    z-index: 10;
  }
  &-topbar {
    &__logo {
      height: 40px;
    }
  }

  &__aside,
  &__content {
    padding: 72px 15px 40px;
  }

  &__content {
    height: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    &:after {
      content: '';
      position: fixed;
      bottom: 0;
      right: 0;
      left: #{$admin_aside_width}px;
      height: 80px;
      pointer-events: none;
      background-image: linear-gradient(0deg, #ffffffa3, transparent);
    }
  }

  &__aside {
    width: #{$admin_aside_width}px;
    min-width: #{$admin_aside_width}px;
    border-right: 1px solid #dee2e6;
  }

  &-aside {
    &__item {
      margin: 0 0 2px;
    }
  }

  &__link {
    width: 95%;
    margin: 0 auto 2px;
    color: #343a40!important;
    display: block;
    font-size: 0.9em;
    padding: 5px 25px;
    border-radius: 5px;
    transition: .3s ease-in-out;
    &:hover {
      box-shadow: 0 2px 16px -5px #acacac;
      &:not(.router-link-active) {
        background-color: #dee2e6;
      }
    }
  }
}

// Spinner
.custom-spinner {
  display: block;
  margin: 0 auto;
}

// routing animation
.child-view {
  top: 72px;
  right: 15px;
  left: 15px;
  bottom: 0;
  transition: .8s cubic-bezier(.55,0,.1,1);
}
.slide-left-enter, .slide-right-leave-active {
  position: absolute;
  opacity: 0;
  transform: translate(5%, 0);
}
.slide-left-leave-active, .slide-right-enter {
  position: absolute;
  opacity: 0;
  transform: translate(-5%, 0);
}
