.text {

  &-xs {
    font-size: 12px;
  }

  &-sm {
    font-size: 14px;
  }

  &-md {
    font-size: 16px;
  }

  &-lg {
    font-size: 20px;
  }
}

.font {

  &-bold {
    font-weight: bold;
  }

  &-italic {
    font-style: italic;
  }

  &-red {
    color: $danger-color;
  }
}
