// Fonts here
@font-face {
  font-family: 'Gilroy';
  src: url('/assets/fonts/subset-Gilroy-Thin.eot');
  src: url('/assets/fonts/subset-Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/subset-Gilroy-Thin.woff2') format('woff2'),
  url('/assets/fonts/subset-Gilroy-Thin.woff') format('woff'),
  url('/assets/fonts/subset-Gilroy-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/assets/fonts/subset-Gilroy-Light.eot');
  src: url('/assets/fonts/subset-Gilroy-Light.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/subset-Gilroy-Light.woff2') format('woff2'),
  url('/assets/fonts/subset-Gilroy-Light.woff') format('woff'),
  url('/assets/fonts/subset-Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/assets/fonts/subset-Gilroy-Regular.eot');
  src: url('/assets/fonts/subset-Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/subset-Gilroy-Regular.woff2') format('woff2'),
  url('/assets/fonts/subset-Gilroy-Regular.woff') format('woff'),
  url('/assets/fonts/subset-Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/assets/fonts/subset-Gilroy-Medium.eot');
  src: url('/assets/fonts/subset-Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/subset-Gilroy-Medium.woff2') format('woff2'),
  url('/assets/fonts/subset-Gilroy-Medium.woff') format('woff'),
  url('/assets/fonts/subset-Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/assets/fonts/subset-Gilroy-Bold.eot');
  src: url('/assets/fonts/subset-Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/subset-Gilroy-Bold.woff2') format('woff2'),
  url('/assets/fonts/subset-Gilroy-Bold.woff') format('woff'),
  url('/assets/fonts/subset-Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/assets/fonts/subset-Gilroy-Black.eot');
  src: url('/assets/fonts/subset-Gilroy-Black.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/subset-Gilroy-Black.woff2') format('woff2'),
  url('/assets/fonts/subset-Gilroy-Black.woff') format('woff'),
  url('/assets/fonts/subset-Gilroy-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
