// Font
$mainFont             : 'Gilroy', sans-serif;

// Size
$mainFontColor        : #101010;
$mainFontSize         : 18px;
$mainFontWeight       : 400;
$mainLineHeight       : 1.4;

$desktopWidth         : 1280px;
$smDesktopWidth       : 980px;
$tableWidth           : 768px;
$phoneWidth           : 480px;
$smPhoneWidth         : 320px;

// Main color
$default-color        : #ffffff;
$primary-color        : #444ce0;
$success-color        : #26de81;
$danger-color         : #fc5c65;
$warning-color        : #fed330;
$light-color          : #999999;
$purple-color         : #8854d0;

$border-grey-color    : #dee2e6;
$main-color           : #343a40;
$bg-grey              : rgba(0, 0, 0, .03);
$table-hover-bg       : #fed330;
