<template>
    <div>
        <b-table small borderless hover responsive="sm" :items="pages" :fields="['id', 'name', 'content', 'delete']" >

            <!-- A custom formatted column -->
            <template v-slot:cell(id)="data">
                <b class="">{{ data.value}}</b>
            </template>

            <!-- A virtual composite column -->
            <template v-slot:cell(name)="data">
                <input type="text" v-model="pages[data.index].name">
            </template>

            <!-- Optional default data cell scoped slot -->
            <template v-slot:cell(content)="data">
                <vue-editor v-model="pages[data.index].content"/>
            </template>
            <!-- Optional default data cell scoped slot -->
            <template v-slot:cell(delete)="data">
                <b-button variant="danger" @click="deletePage(data.index)">X</b-button>
            </template>

        </b-table>
        <div class="float-right">

            <b-button  variant="primary-outline" @click="addPage" class="float-left">Добавить</b-button>
            <b-button @click="savePages" class="float-right-right">Сохранить</b-button>
        </div>
    </div>
</template>

<script>
import {VueEditor} from "vue2-editor";

export default {
    name: "Editor",
    components: {VueEditor},

    data: () => ({
        content: "<h1>Some initial content</h1>",
        pages: [],
        tableData: [],
    }),
    mounted() {
        setTimeout(() => {
            this.pages = this.$store.getters.staticPages;
            this.content = this.pages[0].content;
        }, 500)

    },
    methods: {
        async savePages() {
            const newPages = this.$store.dispatch('saveAllStaticPages', this.pages)
            console.log(newPages);
        },

        addPage(){
            this.pages.push({name:"", content:""})
        },
        deletePage(index){
            this.pages.splice(index,1);
        }
    },
}
</script>

<style scoped lang="css">

</style>