<template>
    <div v-html="content">
    </div>
</template>

<script>
    export default {
        name: "StaticPage",
        data() {
            return {
                slug: this.$route.params.slug,
                content: '',

            }
        },
        mounted() {

            this.findPageBySlug()
        },
      watch: {
          '$route' (to, from) {
              console.log (to, from)
              this.slug = to.params.slug
              this.findPageBySlug()
          }
      },
        methods: {
            async findPageBySlug(){
                if(!Array.from(this.$store.getters.staticPages).length) {
                    this.$router.push('/');
                }
                const index = this.$store.getters.staticPages.findIndex(
                    page => page.slug === this.slug
                )
                if(index > -1) {
                    const result = await this.$store.getters.staticPages[index];
                    console.log('result',result);
                    this.content  = result.content;
                    return result.content;
                }
                return  '';
            }
        },
    }
</script>

<style scoped>

</style>