@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import "utils/libs";
@import "utils/fonts";
@import "utils/vars";
@import "utils/mixins";
@import "utils/reset";

html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
    font-size: 15px;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: 14px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: 13px;
  }
}

body {
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Modules
@import "modules/layouts/general";
@import "modules/layouts/auth_layout";
@import "modules/layouts/aside";

@import "modules/components/loader";
@import "modules/components/buttons";
@import "modules/components/table";
@import "modules/components/label";
@import "modules/components/input";
@import "modules/components/alert";
@import "modules/components/vue_text_editor";
@import "modules/components/pagination";

@import "modules/pages/trainings";
@import "modules/pages/media";
@import "modules/common/text";
